[2014-12-22 17:19] GrahamCampbell opened #2 "Allow Each Project To Have Email Reports Sent To Different People"

[2015-01-05 11:13] jbrooksuk commented on #2
Perhaps a configuration file?

[2015-01-06 20:51] jbrooksuk opened #6 "Apply the diff and push back"
Having StyleCI apply the fix to the repository and then push the changes back would be ideal :+1:

[2015-01-06 20:54] joecohens commented on #6
:+1:

[2015-01-06 20:55] GrahamCampbell commented on #6
Yeh. Maybe we need some sort of logic to create pull requests to contributors repos when they send pull requests to the repo we're analysing too.

[2015-01-10 17:44] GrahamCampbell commented on #6
We'll need to be super careful about how we do this. We don't want to push the changes if further commits have been pushed since we queued the analysis.

[2015-01-11 07:29] joecohens opened #8 "Update to latest L5 changes."

[2015-01-11 09:33] joecohens commented on #8
Not even to make a WIP PR because we'll need to update all the package dependencies for it to work, but all besides that it's ready https://github.com/JoeForks/StyleCI/tree/update-framework.

[2015-01-11 10:52] GrahamCampbell commented on #8
I don't like some of the changes in that commit. Anyway, this is on my to do list anyway. I'm going to do it the same time I upgrade cachet, probably.

[2015-01-11 10:52] #8 closed

[2015-01-11 18:59] joecohens commented on #8
Ok sure!, most of all to have proper env set :). I've finished the staging installation http://styleci.dinkbitlabs.com so if you need to test something let me know :)

[2015-01-11 21:35] GrahamCampbell opened #9 "Open To The Public"
I want to make styleci a free hosted service. In order to do this, the following needs to happen.

* [x] Login with github needs to exist
* [x] We need a gui for enabling styleci on public repos
* [x] We need a way to disable styleci on a repo, and delete the data
* [x] Notifications for analyses

[2015-01-12 05:58] joecohens commented on #9
:+1:

[2015-01-12 08:34] jbrooksuk commented on #9
For Anorak I use [OAuth2-Client](https://github.com/thephpleague/oauth2-client/). You'll need quite a wide scope for GitHub as you'll be pulling down code etc.

[2015-01-12 08:34] jbrooksuk commented on #9
Doing this will make #2 much easier to implement too. You could email the owners of the repository (to which you'd have access).

[2015-01-12 12:05] GrahamCampbell commented on #9
Yeh. :)

[2015-01-12 12:05] GrahamCampbell commented on #9
Or indeed, use your notifications package. We should make notifications configurable too from the browser. I'll update the todo list.

[2015-01-16 20:00] GrahamCampbell opened #15 "Refactor Routing Mess"
For the initial speedy implementation, I dumped a load of crap into closures in the routing file. This needs refactoring into controllers.

[2015-01-16 20:02] joecohens commented on #15
Haha :+1:

[2015-01-16 21:41] GrahamCampbell opened #17 "Broken Diff Viewing"
1. The filename should not show as deleted.
2. There should not be a scrollbar on the diff.

![image](https://cloud.githubusercontent.com/assets/2829600/5784868/6a76bbee-9dc8-11e4-9fbd-529081d914ca.png)

[2015-01-16 21:44] GrahamCampbell opened #18 "Remove Branch From Repo View"
We're only showing commits from the master here, so this isn't needed.

![image](https://cloud.githubusercontent.com/assets/2829600/5784912/c6477b34-9dc8-11e4-8eaf-f99ea205a733.png)

[2015-01-16 21:45] GrahamCampbell opened #19 "Time Not Showing"
The time missing missing:

![image](https://cloud.githubusercontent.com/assets/2829600/5784929/e872a300-9dc8-11e4-9ec5-159eb4e53e50.png)

I assume this happens because it was `0.56` or something in the db, so was being treated as `0` and then cast to `''`.

[2015-01-16 22:33] joecohens commented on #17
I think we need a parser to split the files into different files and remove the file lines.

[2015-01-16 22:46] #19 closed

[2015-01-16 22:46] #18 closed

[2015-01-16 23:12] GrahamCampbell opened #21 "Pagination On Commit Lists"
Currently we're just showing the last 50 from the master branch. Would be more useful to have paginated results, and also allow branch selection.

[2015-01-16 23:14] joecohens opened #22 "Make design responsive"

[2015-01-16 23:16] GrahamCampbell commented on #22
Assigning this to you. I have no idea what I'm doing, lol. :)

[2015-01-16 23:27] joecohens commented on #22
Lol sure!
On Jan 16, 2015 5:16 PM, "Graham Campbell" <notifications@github.com> wrote:

[2015-01-17 09:44] jbrooksuk commented on #21
I'd also show less than 50 on one page, 25 is ample.

[2015-01-17 09:44] jbrooksuk commented on #17
Is this just a case of the highlighter being wrong?

[2015-01-17 10:17] GrahamCampbell commented on #17
Yeh.

[2015-01-17 14:44] MichaelBanks opened #24 "Mobile responsive design issue w/ tables"
See screenshot: http://imgur.com/oBo8FoB
As you can see, the right of the table appears to be cropped on mobile due to the responsive design.

[2015-01-17 15:00] #24 closed

[2015-01-17 15:00] GrahamCampbell commented on #24
Duplicate of https://github.com/StyleCI/StyleCI/issues/22.

[2015-01-17 16:50] GrahamCampbell opened #27 "Time Should Not Show When Job Is Pending"

[2015-01-17 16:55] GrahamCampbell commented on #27
Typo...

[2015-01-17 16:55] #27 closed

[2015-01-17 16:55] GrahamCampbell commented on #27
![image](https://cloud.githubusercontent.com/assets/2829600/5789590/aa08136a-9e69-11e4-8393-b220ad70c6f3.png)

[2015-01-18 00:00] MichaelBanks commented on #9
Couple of auto-scaling servers on the back-end and we're jelly :+1:

[2015-01-18 00:08] GrahamCampbell commented on #9
Still a lot of work to do here. :)

[2015-01-18 19:51] jbrooksuk opened #29 "Comment on commits with links to diff"

[2015-01-18 19:52] GrahamCampbell commented on #29
:+1:

[2015-01-18 23:33] #22 closed

[2015-01-21 05:21] MichaelBanks commented on #9
I'll take on any ops work, as per. You know where to find me.

[2015-01-21 20:53] GrahamCampbell commented on #9
:beers:

[2015-01-24 11:25] jbrooksuk opened #34 "Heroku deployment"
Do you think we could get Heroku deployment setup? It doesn't have to be one-click (although, I don't see why not) but some install instructions would be useful specifically for it.

[2015-01-24 16:50] jbrooksuk opened #35 "Show repo name on commit page"
It's useful to know what project the commit belongs to.

[2015-01-24 17:26] GrahamCampbell commented on #35
Yeh, agreed. Will do this whenever I have a free block. :)

[2015-01-24 21:00] #35 closed

[2015-01-25 16:30] GrahamCampbell opened #37 "Upgrade To syntaxhighlighter 3.0.9"
@joecohens, you used used `~3.0.8`, which means we ended up with 3.0.83 rather than 3.0.9 due to the poor choice of versions used by the maintainers.

[2015-01-25 16:36] #15 closed

[2015-01-25 16:36] GrahamCampbell commented on #15
This is pretty much done now.

[2015-01-25 16:36] GrahamCampbell opened #38 "Public REST API Needed"
I'm going to ditch the current mess, and start again. :)

[2015-01-25 16:36] #2 closed

[2015-01-25 16:37] GrahamCampbell commented on #2
This will be done as part of the notification support later one.

[2015-01-25 16:38] GrahamCampbell commented on #34
D'no. I think this is low priority atm. I want to get the other stuff addressed first. We need login with github, in-browser configuration, and much better backend caching first. :)

[2015-01-25 16:38] GrahamCampbell commented on #29
This will be done as part of the notification stuff.

[2015-01-25 16:38] #29 closed

[2015-01-25 16:41] GrahamCampbell opened #39 "Notification Support"
I removed the email reports when I did the command/handler refactor. That's because I want to start again with a better notification system.

After the login with github stuff is done, users should be able to configure notifications for both failed and successful analyses. This will be done through github.com/notifymehq.

I also want the ability for styleci to be able to comment on commits to noti

[2015-01-26 10:03] jbrooksuk opened #41 "Move GitHub token into env"
When you update, the token won't then be lost.

[2015-01-31 11:45] #37 closed

[2015-01-31 22:43] GrahamCampbell opened #44 "Logic Change Required"
We're going to need to only analyse repos if they're actually enabled by logged in users.

[2015-01-31 22:43] GrahamCampbell commented on #44
Otherwise, we MUST do nothing. Otherwise, people can just spam us with webhooks.

[2015-01-31 23:53] #41 closed

[2015-01-31 23:54] GrahamCampbell commented on #41
This will be no longer relevant after my internal changes are done.

[2015-02-01 13:35] GrahamCampbell commented on #44
Done.

[2015-02-01 13:35] #44 closed

[2015-02-01 13:35] GrahamCampbell commented on #34
As proven by cachet, this is a pain in the arse, so I'm not going to support it atm.

[2015-02-01 13:35] #34 closed

[2015-02-01 13:35] #17 closed

[2015-02-01 17:59] jbrooksuk commented on #41
:+1:

[2015-02-01 18:00] jbrooksuk commented on #34
:+1: agreed. I'm thinking of dropping Heroku.

[2015-02-01 18:00] GrahamCampbell commented on #41
They're none now btw. They're not going on the public server for a while yet though.

[2015-02-04 20:25] GrahamCampbell opened #51 "Broken Repo Listing"
The repo page is currently listing the 50 most recently "updated" repos on the system. This needs to be modified to list all repos the user has admin access on.

[2015-02-04 20:26] GrahamCampbell opened #52 "Diff Line Numbers"
The line numbers on the diff either need removing, or updating to match the actual lines in the file being diffed (probably quite hard to do given the lines could b different before and after).

[2015-02-04 20:33] jbrooksuk commented on #52
I'd try break the diff by file?

[2015-02-04 20:41] GrahamCampbell commented on #52
Tried this before. Gitlib was broken, and I ended up with "ain't nobody got time to dat!".

[2015-02-04 20:52] #52 closed

[2015-02-04 23:07] GrahamCampbell opened #55 "Trusted Proxies"

[2015-02-04 23:14] GrahamCampbell opened #56 "Diff Scroll Bar Issue"
There shouldn't be a scroll bar showing:

![image](https://cloud.githubusercontent.com/assets/2829600/6051846/99d28544-acc3-11e4-8bf1-227b0490b025.png)

[2015-02-04 23:16] joecohens commented on #56
That's weird not happening to me on Chrome for Mac, I'll take a look.

[2015-02-04 23:19] GrahamCampbell commented on #56
NB, this is chrome 41 beta with "Overlay Scrollbars" enabled.

See chrome://flags/#overlay-scrollbars.

[2015-02-05 18:37] GrahamCampbell opened #57 "Add A Way For Users To Trigger Analyses"
People should be able to fire a new analysis for their repo whenever they feel like it.

For now, we're only listing commits from the master, so I only want this feature to be "analyse the last commit pushed to the master".

[2015-02-05 18:39] GrahamCampbell opened #58 "Read The Default Branch From GitHub"
GitHub provides the default branch name in it's api that we're already hitting. We should respect this default branch.

[2015-02-05 20:51] GrahamCampbell opened #59 "Support Account Deletion"

[2015-02-05 20:52] GrahamCampbell commented on #59
@Craytor Has offered to do this for us. :)

[2015-02-05 21:02] GrahamCampbell opened #60 "HTTP Missuse"
GET requests must not cause the sever to perform any actions by definition. We're currently misusing them. I don't think we can avoid this for the oauth callback, but for everything else, we need to change this at some point before we open this to the public. We're also got a CSRF issue there too...

[2015-02-05 22:41] #51 closed

[2015-02-05 22:46] GrahamCampbell opened #62 "Font Awesome Error 404s"

[2015-02-05 22:48] GrahamCampbell commented on #62
Bad nginx config from me...

[2015-02-05 22:48] #62 closed

[2015-02-05 23:07] Craytor commented on #59
Pull Request #63

[2015-02-06 15:02] GrahamCampbell opened #64 "Is 24 Hours Too Long To Cache The GitHub Repo List"
We#re caching the list of the user's repos for 24 hours. Is this too long? Maybe 6 or 12 hours would be a better idea. The actual api call if the user's repos haven't actually changed is quite cheap given that we're still using http etag based caching.

[2015-02-06 15:02] GrahamCampbell commented on #64
// cc @jbrooksuk @joecohens

[2015-02-06 15:02] MichaelBanks commented on #64
Or.. don't cache it?

[2015-02-06 15:04] jbrooksuk commented on #64
Are you pulling in all of the user repos now? Sorry, I've not caught up on StyleCI fully yet.

[2015-02-06 15:04] jbrooksuk commented on #64
@MichaelBanks if it's hitting the GitHub API then we do want to cache.

[2015-02-06 15:05] MichaelBanks commented on #64
@jbrooksuk can't you just keep hitting the API? Only retrieve from cache if there's an API failure. Have you got an API limit?

[2015-02-06 15:05] GrahamCampbell commented on #64
No, we really need to cache it.

https://github.com/StyleCI/StyleCI/blob/master/app/GitHub/Repos.php#L61

We're calling this from https://github.com/StyleCI/StyleCI/blob/master/app/Http/Controllers/RepoController.php#L62 and https://github.com/StyleCI/StyleCI/blob/master/app/Http/Controllers/AccountController.php#L77.

[2015-02-06 15:06] jbrooksuk commented on #64
Nope, GitHub has an API limit.

[2015-02-06 15:06] MichaelBanks commented on #64
So.. adapt the cache time based on how many times you're hitting the API

[2015-02-06 15:06] jbrooksuk commented on #64
@GrahamCampbell cache for 6 hours. I'd say though we could do with smart caching. If the last fetch hit an error, then lower the limit to an hour. Otherwise, go back to 6.

[2015-02-06 15:06] GrahamCampbell commented on #64
That doesn't actually matter. GitHub doesn't count it as a hit if we send an etag that hasn't changed.

[2015-02-06 15:07] GrahamCampbell commented on #64
https://github.com/StyleCI/php-github-api/blob/master/lib/Github/HttpClient/CachedHttpClient.php

[2015-02-06 15:07] GrahamCampbell commented on #64
https://developer.github.com/v3/#conditional-requests

[2015-02-06 15:08] jbrooksuk commented on #64
Oh that's good!

[2015-02-06 15:08] GrahamCampbell commented on #64
@MichaelBanks Caching is not up for discussion anyway. I'm keeping both level's of caching.

I'm just asking if we should decrease the cache time on the outer cache.

[2015-02-06 15:09] jbrooksuk commented on #64
@GrahamCampbell 12 hours is apt IMHO.

[2015-02-06 15:12] #64 closed

[2015-02-06 15:12] GrahamCampbell commented on #64
Done.

[2015-02-06 15:31] Craytor commented on #64
Couldn't you check every 12 hours, but then provide a button on the main repo list that can update it if a user is wanting to refresh it due to adding a new repo, etc?

[2015-02-06 18:40] MichaelBanks opened #65 "Twitter Cards and OpenGraph metadata to be added to HEAD on all pages (namely commit analysis pages)"
As GitHub adds on issue pages:

[code]

StyleCI should use similar conventions in it's per-page metadata.

This is good practice, it's useful for services such as Slack, Facebook and Twitter to preview the page contents when a link is posted:

Slack comparison:
![](https://i.starbs.net/pkXL)

Twitter - GitHub Card:
![](https://i.starbs.net/A034)

Twitter - StyleCI (no card):
![](https://i.starbs.n

[2015-02-06 18:43] joecohens commented on #64
The "sync now" button can be useful here. It would be a force flush on the cache.

[2015-02-06 18:45] MichaelBanks opened #66 "Shorter URLs for link-sharing"
Possibly use `starbs/meh` to shorten StyleCI links for easy sharing?

e.g. https://s.styleci.io/a1b2C3

[2015-02-06 19:24] jbrooksuk commented on #66
I don't think this is a needed feature tbh.

[2015-02-06 19:27] GrahamCampbell commented on #64
Yeh, it would. :)

[2015-02-06 19:28] MichaelBanks commented on #66
I think it'd be useful, especially when Tweeting or sending StyleCI links to others. Longer URLs don't look as attractive as shorter ones.

[2015-02-06 19:28] GrahamCampbell commented on #66
I'm inclined to agree with @jbrooksuk. Shortening a link from styleci yourself is quite a trivial task.

[2015-02-06 19:28] #66 closed

[2015-02-06 19:29] MichaelBanks commented on #66
@GrahamCampbell indeed, but it could also be very easily automated. Especially considering you have a repo for that exact purpose

[2015-02-06 19:29] jbrooksuk commented on #66
Is there a need for StyleCI to be shared!

Sent from my iPhone

[2015-02-06 19:39] Craytor commented on #64
I'll add it if you want me too!! :)

Sent from Outlook

On Fri, Feb 6, 2015 at 11:27 AM -0800, "Graham Campbell" <notifications@github.com> wrote:

Yeh, it would. :)

—
Reply to this email directly or view it on GitHub.

[2015-02-06 20:00] #59 closed

[2015-02-06 22:35] #55 closed

[2015-02-07 00:28] #6 closed

[2015-02-07 00:28] GrahamCampbell commented on #6
I don't see this as doable in the near future.

[2015-02-07 00:28] GrahamCampbell commented on #9
3/4 stuff done here. :)

[2015-02-07 00:30] joecohens commented on #9
We only need to add NotifyMe and :boom: !

[2015-02-07 00:32] GrahamCampbell commented on #9
There's still quite a lot of logic I need to write for this to work. :)

[2015-02-07 00:49] GrahamCampbell opened #68 "Not Found Error From GitHub Should Trigger Re-Sync"

[2015-02-07 00:58] GrahamCampbell opened #69 "Logo And Favicon"
We need a logo. :)

[2015-02-07 01:31] MichaelBanks commented on #69
Eh, I'll throw together some mockups

[2015-02-07 01:45] MichaelBanks commented on #69
1:

![](https://i.starbs.net/e4Pb)

2:

![](https://i.starbs.net/evja)

Favicons:

![](https://i.starbs.net/AZnZ ![](https://i.starbs.net/eoOD)

I'll bash up a few more when I'm not exhausted

[2015-02-07 01:45] MichaelBanks commented on #69
1:

![](https://i.starbs.net/e4Pb)

2:

![](https://i.starbs.net/AWyg)

Favicons:

![](https://i.starbs.net/AZnZ) ![](https://i.starbs.net/eoOD)

I'll bash up a few more when I'm not exhausted

[2015-02-07 04:09] Craytor opened #70 "RuntimeException Fresh Install"
I've seemed to get an error when fresh installing StyleCI on a homestead box. All I have done was ran the command
[code]
after a
[code]
that had a similar error. The output of this is below, it looks like it is an issue with another repo (possibly?).

![capture](https://cloud.githubusercontent.com/assets/3680866/6090784/0aff0778-ae55-11e4-9f67-afe42bbf2457.PNG)

[2015-02-07 04:14] Craytor commented on #69
#2 Looks amazing... But tbh, they both look amazing :D

[2015-02-07 04:18] Craytor commented on #21
Has this been implemented? If not, I'll fiddle with this.

[2015-02-07 04:27] joecohens commented on #70
Fixed thanks :). See https://github.com/StyleCI/StyleCI/commit/c9d68ea5ede4312464fd49a56f1622f68d9dbc73

[2015-02-07 04:27] #70 closed

[2015-02-07 06:23] joecohens commented on #69
@MichaelBanks I like the second one! The only thing that worries me about this type of logo is that you have tu use it with the "Style" word most of the times, if you only use the "CI" icon wont be recognised has StyleCI it can be any other CI tool. It just works for the favicon. I hope it makes sense :)

[2015-02-07 06:44] joecohens commented on #69
Maybe like this? With your CI typography haha :)

![screen shot 2015-02-07 at 12 42 44 am](https://cloud.githubusercontent.com/assets/1803556/6091167/65659972-ae62-11e4-8c88-2aea562d1105.png)
![screen shot 2015-02-07 at 12 43 06 am](https://cloud.githubusercontent.com/assets/1803556/6091168/656bf452-ae62-11e4-8990-e3613aae6176.png)

[2015-02-07 10:01] jbrooksuk commented on #69
I like the top and middle one by @joecohens :+1:

[2015-02-07 10:31] GrahamCampbell commented on #69
Yeh, @joecohens's middle logo looks sexy. Thanks guys!

[2015-02-07 11:29] GrahamCampbell opened #72 "Model Presenters"

[2015-02-07 13:25] GrahamCampbell opened #74 "Database Transactions"

[2015-02-07 13:25] #72 closed

[2015-02-07 14:19] #74 closed

[2015-02-07 14:26] GrahamCampbell commented on #68
Note to self, the exception to catch:
[code]

[2015-02-07 15:09] Craytor commented on #69
The middle one @joecohens @GrahamCampbell

[2015-02-07 19:31] GrahamCampbell commented on #56
Fixed.

[2015-02-07 19:31] #56 closed

[2015-02-07 19:32] GrahamCampbell commented on #39
Partially complete now.

[2015-02-07 19:32] #39 closed

[2015-02-07 19:32] #9 closed

[2015-02-07 23:25] #57 closed

[2015-02-07 23:26] GrahamCampbell opened #83 "Account Login Should Flush Repo Cache"

[2015-02-07 23:26] GrahamCampbell opened #84 "Account Deletion Should Flush Repo Cache"

[2015-02-07 23:26] GrahamCampbell opened #85 "Repo Deletion Should Flush Collaborator Cache"

[2015-02-08 00:08] Craytor opened #86 "Page Header Issue"
I don't think this looks good. The button is just thrown under the name of the package, and there isn't the same amount of padding/margin/space below the button as there is above the name of the package, therefore I think it should be aligned right. I don't know...

![style-ci-request](https://cloud.githubusercontent.com/assets/3680866/6094549/b714fa34-aefc-11e4-88e3-67b2c4dc90fb.PNG)

[2015-02-08 00:09] Craytor commented on #86
cc: @joecohens

[2015-02-08 00:21] GrahamCampbell commented on #86
I tried it right aligned and didn't like it. Maybe Joe can make it look better than I did?

[2015-02-08 00:22] joecohens commented on #86
I'm working on it right now :)

[2015-02-08 00:22] GrahamCampbell commented on #86
:+1:

[2015-02-08 00:22] Craytor commented on #86
Oh goodie!

[2015-02-08 09:18] lucasmichot opened #88 "Javascript build with Elixir"
The Elixir function doesn't properly build the minified/versionned JS file on a basic Forge installation.
The CSS file works fine, but not the JS

[2015-02-08 10:42] jbrooksuk commented on #88
I thought that StyleCI came with the assets pre-compiled?

[2015-02-08 11:05] lucasmichot commented on #88
Hm then, was not clear to me

[2015-02-08 11:11] GrahamCampbell commented on #88
The CSS file works fine, but not the JS

It works for me?

And yeh, I've already committed compiled files to the repo. Just take a look in the public folder. :)

[2015-02-08 11:11] #88 closed

[2015-02-08 11:11] GrahamCampbell commented on #88
Sorry StyleCI's documentation in non-existent at the moment.

[2015-02-08 11:11] #86 closed

[2015-02-08 18:26] GrahamCampbell commented on #85
This is probably a trivial over-optimization, lol.

[2015-02-08 18:26] #85 closed

[2015-02-08 18:26] GrahamCampbell commented on #84
This is probably a trivial over-optimization, lol.

[2015-02-08 18:26] #84 closed

[2015-02-08 18:28] GrahamCampbell opened #90 "Real Time Page Updates"
We need a way to real-time show updates on the commit and repo pages.

I suggest we use pusher for this, but also support falling back to using ajax to query the status every 10 seconds if we've bust the max concurrent users on pusher.

[2015-02-08 19:47] GrahamCampbell opened #91 "Super Easy Configuration"
As well as supporting .php_cs files, we should also support in-browser configuration.

[2015-02-08 21:52] MichaelBanks commented on #69
@joecohens top and the middle one or good. I'd probably choose a different font for the 'style' bit.

[2015-02-08 21:55] MichaelBanks commented on #69
I'll bash out full rez logos tonight, just need to :beer: and :hamburger: first :+1:

[2015-02-08 22:06] #65 closed

[2015-02-08 23:35] MichaelBanks commented on #69
StyleCI:

![](https://i.starbs.net/1PGj)

StyleCI-alt:

![](https://i.starbs.net/eYNY)

SCI:

![](https://i.starbs.net/p7R5)

CI:

![](https://i.starbs.net/pBGr)

Favicon:

![](https://i.starbs.net/pkER)

//cc: @GrahamCampbell @joecohens

[2015-02-08 23:37] GrahamCampbell commented on #69
I think the favicon should just be the CI. Also, we need all favicon sizes for mac devices. :)

[2015-02-08 23:37] GrahamCampbell commented on #69
I still liked the font used in @joecohens's second one @MichaelBanks.

[2015-02-08 23:37] MichaelBanks commented on #69
@GrahamCampbell I'm on it

[2015-02-08 23:38] MichaelBanks commented on #69
@GrahamCampbell I hated it

[2015-02-08 23:38] Craytor commented on #69
@GrahamCampbell @MichaelBanks I like @joecohens font also... maybe because it was lowercase...

[2015-02-08 23:38] GrahamCampbell commented on #69
Hmmm.

[2015-02-08 23:39] MichaelBanks commented on #69
@Craytor I'll have a play around with the idea

//cc. @GrahamCampbell

[2015-02-08 23:39] GrahamCampbell commented on #69
What about that font all uppercase.

NB, I love the CI bit @MichaelBanks. Keep that, what ever happens.

[2015-02-08 23:39] MichaelBanks commented on #69
@GrahamCampbell then there'd be 2 different fonts in the same logo

[2015-02-08 23:40] GrahamCampbell commented on #69
Hmmm. I'm no branding expert. D'no.

[2015-02-08 23:40] Craytor commented on #69
@GrahamCampbell Are you eventually going to have the icons for GitHub if the repo is passing? That's what StyleCI-alt kind of reminds me of...

[2015-02-08 23:40] MichaelBanks commented on #69
![](https://i.starbs.net/A0lV)

[2015-02-08 23:40] MichaelBanks commented on #69
that better?

[2015-02-08 23:40] GrahamCampbell commented on #69
Nah. Try with an uppercase S.

[2015-02-08 23:41] MichaelBanks commented on #69
![](https://i.starbs.net/AgN6)

[2015-02-08 23:42] MichaelBanks commented on #69
See the problem I'm facing? It's the fact that the logo's height would have to be altered due to the 'y'

[2015-02-08 23:42] MichaelBanks commented on #69
I'll look at some different fonts

[2015-02-08 23:42] Craytor commented on #69
Yeah, I was going to mention that...

[2015-02-08 23:42] GrahamCampbell commented on #69
thx

[2015-02-08 23:47] MichaelBanks commented on #69
Toying around with this idea. Smaller font size for the 'tyle'. Feedback?

![](https://i.starbs.net/exEK)

[2015-02-08 23:47] joecohens commented on #69
@MichaelBanks I don't mind two fonts they look ok. And also the "Y" thing I don't mind if you have same font size in the "Style" and "CI" because the red bg makes a visual thing that you imagine like the Style has it that padding too.. Hope makes sense :)

[2015-02-08 23:48] MichaelBanks commented on #69
@joecohens it's not about minding that there's 2 fonts. It's just not good to have multiple fonts in the same logo.

[2015-02-08 23:48] MichaelBanks commented on #69
@joecohens I see exactly what you mean, let me try a couple of things before I fallback on that though

[2015-02-08 23:49] MichaelBanks commented on #69
Right.. I've altered the font a bit, how does this look?

![](https://i.starbs.net/p3z8)

[2015-02-08 23:50] joecohens commented on #69
@MichaelBanks I don't see a problem because you are using the CI like an icon not like text :)

[2015-02-08 23:50] MichaelBanks commented on #69
@joecohens what was that in reference to?

[2015-02-08 23:51] GrahamCampbell commented on #69
The different fonts.

[2015-02-08 23:51] MichaelBanks commented on #69
ahh thanks @GrahamCampbell

It's beside the point @joecohens it's part of the typography, we should keep fonts consistent

[2015-02-08 23:52] MichaelBanks commented on #69
In reference to this: https://github.com/StyleCI/StyleCI/issues/69#issuecomment-73440752

How does it look?

[2015-02-08 23:53] GrahamCampbell commented on #69
I liked the original font for the CI. I'm not sure I care about the different fonts within the same logo.

[2015-02-08 23:53] MichaelBanks commented on #69
@GrahamCampbell there should be no need to use separate fonts if we get it right.

[2015-02-08 23:54] MichaelBanks commented on #69
Anywhom, we shall continue this escapade tomorrow. I believe @GrahamCampbell is heading to bed, as am I. Until tomorrow!

[2015-02-08 23:55] Craytor commented on #69
I honestly don't know what was wrong with this? https://cloud.githubusercontent.com/assets/1803556/6091168/656bf452-ae62-11e4-8990-e3613aae6176.png

[2015-02-08 23:57] MichaelBanks commented on #69
x/post from Slack:

The font up top is too thin

c [11:55 PM]
Alignment's off, mismatching fonts

c [11:56 PM]
Not to mention it'd need completely remaking anyway for transparency layer/pixel perfect alignment

c [11:56 PM]
I need to figure out which font I used for the CI the first time around

[2015-02-09 21:28] GrahamCampbell opened #93 "Confirmation Of Repo Deletion"
We need more resistance on disabling styleci for a repo. We need to make it super clear that disabling the repo will delete it from our server, so if it's later enabled again, all the previous analyses are gone.

[2015-02-09 21:30] GrahamCampbell opened #94 "Confirmation Of Account Deletion"
We need two levels of confirmation:

The first level should be in-browser, and should be a simple maths question to prevent accidental submission.

The second level should be via email confirmation, where after the first level is passed, we don't actually delete the account, we just lock it and send a confirmation email to the user. We can then give then 48 hours to either confirm or cancel, then

[2015-02-09 22:04] GrahamCampbell opened #95 "[Fixer] The Analyser Class Is Too Complex"
It would probably be a good idea to shift the config stuff to another class and try to deal with the mess in the constructor.

[2015-02-09 22:05] GrahamCampbell opened #96 "[Fixer] Upgrade To PHP-CS-FIXER 2.0 And Caching"
I need to update to php-cs-fixer 2.0 at some point, and employ a proper caching strategy otherwise analysing a repo the size of symfony will leave us a bit f****d.

NB - we already cache repos from github, and only fetch upstream changes, but we need to enable php-cs-fixer level caching so we can skip files we already know are good. This needs to be done on a per branch level, and new braces shoul

[2015-02-10 08:21] jbrooksuk commented on #96
I'd maybe go as far as to only fix files that have changed.

[2015-02-10 08:22] jbrooksuk commented on #93
Don't forget to remove the web hook from the GitHub repo too.

[2015-02-10 18:58] GrahamCampbell commented on #93
This is already done actually. :)

[2015-02-10 18:59] GrahamCampbell commented on #93
Done through events. This is the handler: https://github.com/StyleCI/StyleCI/blob/master/app/Handlers/Events/DisableHooksHandler.php.

[2015-02-10 18:59] GrahamCampbell commented on #96
That's what php-cs-fixers caching is doing for us. :)

[2015-02-10 21:08] Craytor commented on #93
Okay, good idea, but also, what about soft deleting those records, and if the repo is enabled un-delete them?

[2015-02-10 21:56] GrahamCampbell commented on #93
Not going to employ such a tactic. Deleting repos and accounts means the user's want the data removed from our servers. The data could also be quite large, so it will often be desirable to have it removed.

[2015-02-11 21:46] Craytor commented on #69
Isn't this done?

[2015-02-12 00:10] MichaelBanks commented on #69
@Craytor I've been busy. When I get a chance, probably ready for when @GrahamCampbell gets back on Tuesday

[2015-02-12 12:24] jbrooksuk opened #98 "Index tables"
The migrations should include proper indexing.

[2015-02-12 18:42] GrahamCampbell commented on #69
I need this done asap. I wanted to launch the staging version today.

[2015-02-12 21:08] #21 closed

[2015-02-12 22:07] GrahamCampbell opened #100 "Push New Pending Commits"

[2015-02-12 22:07] GrahamCampbell opened #101 "Analyze Button Shouldn't Refresh The Page"
#100 needs to be done first.

[2015-02-12 22:08] GrahamCampbell commented on #90
Part 1 done: #97.

[2015-02-12 22:09] GrahamCampbell opened #102 "Realtime Updates On The Repo Page"

[2015-02-12 22:16] GrahamCampbell commented on #98
Errr. We can't index the fork_id, because indexes can't be nullable, right?

[2015-02-12 22:22] GrahamCampbell commented on #60
Current affected paths:

* `auth/login`
* `auth/logout`
* `account/delete`
* `account/repos/sync`
* `account/enable/{id}`
* `account/disable/{repo}`
* `repos/{repo}/analyse`

[2015-02-12 22:50] #98 closed

[2015-02-12 22:51] MichaelBanks commented on #69
@GrahamCampbell Use the ones in Assets for the time being, they are easily updated

[2015-02-12 22:52] MichaelBanks commented on #69
I'm exhausted after my trip, I can't be doing pixel perfect graphics design at this time of day

[2015-02-12 23:06] GrahamCampbell commented on #69
Sure. I'll probably be delaying staging deployment until Saturday, so it'd be good to have this stuff done by then. :)

[2015-02-12 23:27] MichaelBanks commented on #66
@jbrooksuk yeah, it's called PR, increasing your user base. A hell of a lot of developers use Twitter and such, it's coverage.
Either way, showing other people links to StyleCI, it'll be more attractive to the brand to have much shorter URLs

[2015-02-12 23:29] Craytor commented on #66
+1 @michaelbanks

[2015-02-13 08:08] jbrooksuk commented on #66
But StyleCI isn't that kind of service. People are probably not going to be actively sharing links to StyleCI.

[2015-02-13 17:55] GrahamCampbell commented on #66
I don't plan to add this to the core.

[2015-02-13 18:57] GrahamCampbell opened #111 "Remove The GetCommitTrait And Add Repositories"

[2015-02-13 22:42] #100 closed

[2015-02-13 23:58] joecohens opened #115 "We need a new homepage"
- [ ] explain what is
- [ ] features
- [ ] how to use it

[2015-02-14 11:19] GrahamCampbell opened #117 "Broken Commit List"
Whenever a new commit is pushed to a repo, all the commits go green.

Before push:

![image](https://cloud.githubusercontent.com/assets/2829600/6199435/320dd718-b43b-11e4-8a88-7ed878c880b9.png)

After push:

![image](https://cloud.githubusercontent.com/assets/2829600/6199436/467705b2-b43b-11e4-9caa-80a5c460e6ee.png)

[2015-02-14 11:20] GrahamCampbell opened #118 "We Need To Fetch The Actual Commit Message On Manual Analyses"

[2015-02-14 11:20] #60 closed

[2015-02-14 11:24] #93 closed

[2015-02-14 11:25] #101 closed

[2015-02-14 11:26] GrahamCampbell opened #119 "CSRF"
We still have issues with cross site request forgery. Although, the incorrect http methods were fixed, we're still not preventing CSRF in all cases.

[2015-02-14 11:28] GrahamCampbell opened #120 "Disabling Repos Should Delete Our Cloned Copy Of It"

[2015-02-14 12:01] GrahamCampbell opened #122 "Analyse Repos When Enabled"

[2015-02-14 16:27] GrahamCampbell opened #123 "Easy Feedback Form"
Users need a way to easily submit feedback about StyleCI from the website itself.

[2015-02-14 17:59] MichaelBanks commented on #115
I can put out some design drafts, is StyleCI on top of a CMS?

[2015-02-14 18:00] MichaelBanks commented on #123
That's simple enough, contact form. I've seen some sites capture a certain keyboard shortcut, i.e `CTRL-R` and open a feedback dialog, could possibly integrate something similar

[2015-02-14 18:01] GrahamCampbell commented on #115
No...

[2015-02-14 18:02] GrahamCampbell commented on #123
Scrutinizer has quite a cool feedback form. I'm sure we can find a free service somewhere that will give us some drop in js form.

[2015-02-14 18:02] MichaelBanks commented on #115
Any particular template we need to match the Style of?

[2015-02-14 18:02] GrahamCampbell commented on #123
Don't know if you know any good ones. :)

[2015-02-14 18:02] MichaelBanks commented on #123
Typeform

[2015-02-14 18:04] GrahamCampbell commented on #115
Look at https://github.com/StyleCI/StyleCI/tree/master/resources/views.

[2015-02-14 18:05] GrahamCampbell commented on #123
Typeform isn't quite what we need I don't think.

[2015-02-14 18:06] MichaelBanks commented on #123
https://github.com/FbF/Laravel-Contact-Form

[2015-02-14 18:06] GrahamCampbell commented on #123
lol, not using that!

[2015-02-14 18:07] MichaelBanks commented on #123
lol ![](https://i.starbs.net/AJgD)

[2015-02-14 18:07] GrahamCampbell commented on #123
I was meaning, a contact service provided by someone else. If I wanted to deal with it on our side, I'd just write one myself, like I did for Bootstrap CMS.

[2015-02-14 18:08] MichaelBanks commented on #123
An embedded form?

[2015-02-14 18:08] GrahamCampbell commented on #123
Look at scrutinizers.

[2015-02-14 18:09] MichaelBanks commented on #123
I'd do something like setting up a simple form on the site then using Trello's API so each bit of feedback is made into a card. Makes the feedback easier to process I guess.

[2015-02-14 18:09] GrahamCampbell commented on #123
https://www.intercom.io is the sort of thing I want actually.

[2015-02-14 18:09] GrahamCampbell commented on #123
that inline form: https://i.starbs.net/AmVN

[2015-02-14 18:09] GrahamCampbell commented on #123
https://i.starbs.net/p27k

[2015-02-14 18:10] MichaelBanks commented on #123
So.. Intercom.io then?

[2015-02-14 18:10] MichaelBanks commented on #123
AgileCRM

[2015-02-14 18:11] MichaelBanks commented on #123
What you're looking for is a CRM

[2015-02-14 18:11] MichaelBanks commented on #123
http://opensource.com/business/14/7/top-5-open-source-crm-tools

[2015-02-14 18:12] GrahamCampbell commented on #123
AgileCRM looks better because Intercom.io's free plan doesn't include the feedback stuff, lol.

[2015-02-14 18:13] MichaelBanks commented on #123
Or.. go for an open source one.

[2015-02-14 18:13] GrahamCampbell commented on #123
I'm not really bothered atm. I just need something that works before the launch. We can always change to something else later on.

[2015-02-14 18:13] MichaelBanks commented on #123
SugarCRM works, I've used it in prod. It's got pretty much everything you

[2015-02-14 18:16] GrahamCampbell commented on #123
I've signed up for Agile CRM. Wtf do I do now? https://i.starbs.net/AwBv

[2015-02-14 18:16] MichaelBanks commented on #123
Ugh, Agile is freemium

[2015-02-14 18:16] MichaelBanks commented on #123
What do you want to do?

[2015-02-14 18:16] GrahamCampbell commented on #123
https://www.uservoice.com looks much better tbh.

[2015-02-14 18:17] GrahamCampbell commented on #123
It turns out agile use it for their contact form...

[2015-02-14 18:17] GrahamCampbell commented on #123
I'm going to contact them and ask if we can have their basic plan for free.

[2015-02-14 18:19] GrahamCampbell commented on #123
I've contacted them. Now we wait...

[2015-02-14 18:20] Craytor commented on #123
:+1:

[2015-02-14 18:30] GrahamCampbell opened #124 "Revoke StyleCI From GitHub On Account Delete"
We should revoke our access to people's GitHub accounts when they delete their StyleCI account.

[2015-02-14 19:26] Craytor commented on #123
Any updates yet?

[2015-02-14 19:36] GrahamCampbell commented on #123
I'm not expecting anything until Monday afternoon.

[2015-02-14 20:35] GrahamCampbell opened #125 "New Commits Not Showing When There Were 0 Commits Originally"
Enabling a new repo, then hitting the analyse now button results in nothing unless you refresh the page.

[2015-02-14 20:36] #90 closed

[2015-02-14 20:37] GrahamCampbell opened #126 "Method Not Allowed Exception When You Hit "Get Started""

[2015-02-14 20:43] #111 closed

[2015-02-14 21:07] GrahamCampbell opened #127 "Repo List Is Rubbish When There Are No Commits"
We still should have a link to the account page so that people can hit the analyse now button:

![image](https://cloud.githubusercontent.com/assets/2829600/6201064/78be6108-b48d-11e4-8965-1aa890aa6a85.png)

[2015-02-14 21:12] #83 closed

[2015-02-14 21:33] #126 closed

[2015-02-14 23:32] GrahamCampbell opened #130 "Refactor The Git Repo To Include A Factory Class"

[2015-02-15 00:32] GrahamCampbell commented on #130
Done.

[2015-02-15 00:32] #130 closed

[2015-02-15 07:36] joecohens commented on #117
Might be related to https://github.com/StyleCI/StyleCI/commit/95c73a81bb8536ed20b036f93514516d7593f539, will leave it open till it's confirmed.

[2015-02-15 09:31] #125 closed

[2015-02-15 09:31] #119 closed

[2015-02-15 09:52] GrahamCampbell commented on #117
Nah, the bug remains:

![image](https://cloud.githubusercontent.com/assets/2829600/6202843/5d9b7cb0-b4f8-11e4-9d26-dfc5400581d3.png)

[2015-02-15 16:36] #127 closed

[2015-02-15 17:25] #118 closed

[2015-02-15 17:40] GrahamCampbell commented on #124
Not possible due to the fact GitHub requires you to use basic auth to do this. We can't ever ask a user for their GitHub password, so this is a no-fix.

[2015-02-15 17:48] pengwynn commented on #124
@GrahamCampbell The application uses Basic Auth, but the username and password are your application's credentials, not the user's.

[2015-02-15 18:06] GrahamCampbell commented on #124
Oh, right. Thank you @pengwynn!

[2015-02-15 22:36] GrahamCampbell commented on #124
Just partially rewritten my laravel github wrapper to facilitate this:
https://github.com/GrahamCampbell/Laravel-GitHub/commit/0fd9c7d2f3e33f8834f96afec10de326b4a7e44a.

I'll get StyleCI updated tomorrow.

[2015-02-15 22:45] jbrooksuk commented on #123
Intercom is nice :)

[2015-02-15 22:48] GrahamCampbell commented on #123
It's expensive though.

[2015-02-16 06:45] joecohens commented on #117
Fixed https://github.com/StyleCI/StyleCI/commit/3a983822b64bb5a2ffbea6b5b9e52a79698008ae

[2015-02-16 06:45] #117 closed

[2015-02-17 09:43] trizz opened #135 "Unable to add repo without repo admin rights"
If you want to enable a repository where you don't have the correct rights to create webhooks, enabling the repo will fail. (GitHub will return a 'Not found' error)

[2015-02-17 11:14] #135 closed

[2015-02-17 11:16] GrahamCampbell commented on #135
We only allow users that are admins on a repo to enable repos.

[2015-02-17 11:16] GrahamCampbell commented on #135
There is a bit of a security floor here in that all authenticated users can enable a repo...

[2015-02-17 11:16] GrahamCampbell commented on #135
Will create a new issue...

[2015-02-17 11:17] GrahamCampbell opened #137 "Any Authenticated User Can Enable/Disable Repos (if then know how)"
This massive security hole needs fixing before we launch...

[2015-02-17 11:18] GrahamCampbell commented on #135
@trizz Can you see repos on the repo list in the account section that you're not an admin on? If so, that's a bug that needs fixing.

[2015-02-17 11:19] GrahamCampbell opened #138 "Non-Admins Have Enable/Disable Displayed To Them"
We shouldn't be showing this button to non-admins...

[2015-02-17 11:36] trizz commented on #135
Yes, I can. My organisation (where I'm not an admin but just a user) has 3 public repos, and I can see them, but when I click on 'Enable', a 'Not found' error appears at top of the page.

[2015-02-17 11:38] GrahamCampbell commented on #135
Right, but it's not actually an error 404. It's a 500.

[2015-02-17 12:43] trizz commented on #135
Inside StyleCI it's a 500 AJAX response (I believe), but the error message is 'Not found', which was a little confusing, so I thought there was a bug :-)

[2015-02-17 12:53] GrahamCampbell commented on #135
Are you running in debug mode. That could be why the exception messages are a little odd?

[2015-02-17 12:56] trizz commented on #135
Yes. But just tried it with debug=false, but the same error appears.

[2015-02-17 12:57] GrahamCampbell commented on #135
k

[2015-02-17 14:52] #124 closed

[2015-02-17 15:31] #137 closed

[2015-02-17 15:31] #138 closed

[2015-02-17 18:53] taftse opened #142 "site reveals all secrets on 404"
when you enter a bad url it shows a whoops 404 page which reveals your database user name and password your github client id and secret your pusher key secret and id and is a huge security flaw

how to reproduce

open any browser (including IE)
go to the address http://styleci.io/ and add anything you want after the slash
(example http://styleci.io/show_me_your_secrets)
hit return/enter

watch all

[2015-02-17 18:53] mikedugan commented on #142
lol

[2015-02-17 18:57] GrahamCampbell commented on #142
wut?

[2015-02-17 18:57] GrahamCampbell commented on #142
Oh shit.

[2015-02-17 18:58] GrahamCampbell commented on #142
Patched. Thanks so much. I'll regen the secret keys asap.

[2015-02-17 18:58] #142 closed

[2015-02-17 19:20] nesl247 opened #145 "Copyright on all laravel/laravel files"
You might want to reconsider putting your copyright on every file included in [laravel/laravel](https://github.com/laravel/laravel). If you do want to add your name to the top, you might want to considering stating that a lot of the code was taken from [laravel/laravel](https://github.com/laravel/laravel).

[2015-02-17 19:23] #145 closed

[2015-02-17 19:23] GrahamCampbell commented on #145
Actually, 0% of the code matches laravel/laravel.

[2015-02-17 19:24] GrahamCampbell commented on #145
Just showed this issue to Taylor. His response: "lol". I think we're done here.

[2015-02-17 19:24] MichaelBanks opened #146 "Deploy scripts should be made public"
I reckon the deploy scripts you have in `/web/scripts` on `boris.starbs.net` should be hosted on a repo.
People would then be able to make changes to them as they see fit, there's some things in there I'm sure experienced 'nix engineers/bash developers could optimize.
Of course, there's no real sensitive information, so it shouldn't be a problem.

[2015-02-17 19:24] #146 closed

[2015-02-17 19:25] GrahamCampbell commented on #146
Don't want to reveal the internals. Sorry.

[2015-02-17 20:02] GrahamCampbell opened #148 "Send Welcome Email To People"
We want to be friendly and provide useful information to new users.

[2015-02-17 20:20] GrahamCampbell opened #149 "Remove Ugly "TODO" From The Settings Page"
Yeh, we forgot about that...

[2015-02-17 20:29] joecohens commented on #149
Lol

[2015-02-17 20:42] GrahamCampbell opened #150 "StyleCI Phar Tool"
Proposal:

Distribute a phar that means you can just run "php styleci.phar fix" and it'll work out what commit your repo is at, and pull and apply the diff from our server.

[2015-02-17 21:18] MichaelBanks commented on #150
Could get the StyleCIBot to make changes to pull requests?

[2015-02-17 21:19] MichaelBanks commented on #148
Formatting needs to be discussed

[2015-02-17 21:21] GrahamCampbell commented on #150
Hmmmm. I tried writing this before, but it was quite complex, because people can push commits after we've queued jobs....

[2015-02-17 21:21] joecohens commented on #150
:+1: For the phar

[2015-02-17 21:21] GrahamCampbell opened #151 "Warn Users If They Enable Non-PHP Repos"
Suggestion from @MichaelBanks. :)

[2015-02-17 21:22] jbrooksuk opened #152 "Prevent StyleCI from running twice per-repo"
If you enable an organisational repo and then someone else adds that same repo, what happens?

[2015-02-17 21:25] MichaelBanks commented on #150
It can double check before it runs the job and sends it back to the end of the queue if there's a push?

[2015-02-17 21:26] MichaelBanks commented on #151
:+1:

[2015-02-17 21:30] #152 closed

[2015-02-17 21:31] GrahamCampbell commented on #152
That's actually not possible. When a repo is enabled, it's not just enabled for that user, it's enabled on the entire system, and will show as enabled for all users. The way this works under the hood, is we're just using the access_token of which ever user enabled the repo to make all the api calls to github.

[2015-02-17 21:32] GrahamCampbell commented on #150
Still possible for them to push while we're pushing.

[2015-02-17 21:32] GrahamCampbell commented on #150
The phar is safer imo.

[2015-02-17 21:35] GrahamCampbell opened #153 "Incorrect Analysis Times"
![image](https://cloud.githubusercontent.com/assets/2829600/6237679/c5b5c850-b6ec-11e4-8bb8-0cc74c6669df.png)

Analysed 13 seconds ago, yet took 7 mins. Total rubbish, lol.

[2015-02-17 21:37] GrahamCampbell opened #154 "Repo List Not Showing All Results"
It's only showing the first 100 repos. Hmmm.

[2015-02-18 00:27] #148 closed

[2015-02-18 00:30] #149 closed

[2015-02-18 00:36] GrahamCampbell commented on #142
The copy in production doesn't quite match the one in this repo btw. Just mainly.

[2015-02-18 07:26] jbrooksuk commented on #150
Phar would be awesome! Have it as a pre-commit hook and you save yourself so much time.

[2015-02-18 07:27] jbrooksuk commented on #154
I think that's the default pagination. I did some weird stuff on Anorak to fix that.

[2015-02-18 09:48] GrahamCampbell commented on #150
Not possible. The idea is you download the data for the last commit pushed.

[2015-02-18 09:48] GrahamCampbell commented on #154
I'm pretty sure I'm using the results pager though, so I'm not sure what's going in here.

[2015-02-18 10:24] GrahamCampbell commented on #154
@jbrooksuk Can I assign this to you please? I'm not sure what's going wrong here.

[2015-02-18 10:26] GrahamCampbell commented on #154
FYI, the class you need is https://github.com/StyleCI/StyleCI/blob/master/app/GitHub/Repos.php.

[2015-02-18 10:39] jbrooksuk commented on #150
Ah right, of course.

[2015-02-18 10:39] jbrooksuk commented on #154
Yeah sure.

[2015-02-18 10:39] jbrooksuk commented on #154
You ok waiting till 6 (or perhaps my dinner) for this?

[2015-02-18 10:40] GrahamCampbell commented on #154
That's totally fine. Thanks for helping out. :)

[2015-02-18 10:41] GrahamCampbell commented on #150
I guess we could write some sexy feature were we push the uncommitted code up analyse it, and send the results back. php-cs-fixer as a service. :)

[2015-02-18 10:41] GrahamCampbell commented on #150
I probably don't have time to do that in the next few months though.

[2015-02-18 14:44] jbrooksuk commented on #151
Is there a way to safely determine a PHP repo from a non-PHP repo?

[2015-02-18 14:44] jbrooksuk commented on #123
Don't they offer anything for open source projects?

[2015-02-18 15:01] GrahamCampbell commented on #123
No. I've asked. :)

[2015-02-18 15:01] GrahamCampbell commented on #151
Yes. I think github's api can do that for us.

[2015-02-18 15:06] jbrooksuk commented on #123
I know what Cachet's next project is...

/s

[2015-02-18 15:07] GrahamCampbell commented on #123
:)

[2015-02-18 21:15] Craytor commented on #123
@jbrooksuk  :D Can't wait!

[2015-02-18 22:36] GrahamCampbell commented on #69
I'm working on this now. :)

[2015-02-18 22:43] jbrooksuk commented on #154
Ok, I'm getting 97 repos being listed. Interesting.

[2015-02-18 22:43] GrahamCampbell commented on #154
How many repos do you have?

[2015-02-18 22:44] jbrooksuk commented on #154
More than that. The Sublime Text org has 44 by itself.

[2015-02-18 22:45] GrahamCampbell commented on #154
k, this is very odd :/

[2015-02-18 22:46] jbrooksuk commented on #154
What I did in Anorak was fetch the org repos separately. https://github.com/jbrooksuk/anorak/blob/master/src/Jobs/RepoSynchronizationJob.php#L28-98

[2015-02-18 22:47] jbrooksuk commented on #154
I'll implement that as it worked well for me.

[2015-02-18 22:47] GrahamCampbell commented on #154
You don't need to do that you know. GitHub's new api doesn't require that.

[2015-02-18 22:48] GrahamCampbell commented on #154
See https://github.com/StyleCI/php-github-api/commit/3ac7b4c63fd7b0f77cd68ba36eaf3c4024ab72f6.

[2015-02-18 22:48] jbrooksuk commented on #154
I had to because I had the same issue :/

[2015-02-18 22:48] jbrooksuk commented on #154
https://github.com/jbrooksuk/anorak/issues/28

[2015-02-18 22:48] GrahamCampbell commented on #154
This is an issue with pagination rather than organisations not showing up.

[2015-02-18 22:48] GrahamCampbell commented on #154
Organisations are working fine here.

[2015-02-18 22:49] jbrooksuk commented on #154
Actually yes, orgs are listed too. Ok, I'll keep looking.

[2015-02-18 23:32] jbrooksuk commented on #154
@GrahamCampbell I've spent the last hour looking at this, debugging step by step. I *think* it might be that the GitHub package is broken. No matter what I do I can't get it to bring back more than 100 results. Even setting that `moondragon` Accept header changes nothing.

[2015-02-18 23:33] jbrooksuk commented on #154
I'll come back to this tomorrow. It's doing my nut in now.

[2015-02-18 23:34] jbrooksuk commented on #154
https://github.com/KnpLabs/php-github-api/issues/243

[2015-02-18 23:36] #69 closed

[2015-02-18 23:37] GrahamCampbell commented on #154
k, thx :)

[2015-02-19 08:22] jbrooksuk commented on #123
For now just setup a form with reasons for contact?

[2015-02-19 08:23] jbrooksuk opened #158 "Analysis is stuck"
@GrahamCampbell Cachet is stuck failing, or waiting for analysis https://styleci.io/commits/e1cde0e4d075e841bfb365e65f739367dfc50d00

[2015-02-19 09:44] GrahamCampbell commented on #158
Errrrr. Let me investigate...

[2015-02-19 09:46] GrahamCampbell commented on #158
Next exception 'Github\Exception\RuntimeException' with message 'Must have push access to view repository collaborators.' in /web/worker/vendor/knplabs/github-api/lib/Github/HttpClient/HttpClient.php:145

[2015-02-19 09:47] GrahamCampbell commented on #158
Looks like you need to give StyleCI permission.

[2015-02-19 09:48] GrahamCampbell commented on #158
Because "Third-party application access policy" is enabled.

[2015-02-19 09:49] GrahamCampbell commented on #158
When you allowed to access to your account, you basically told StyleCI it wasn't allowed to look at the StyleCI organisation.

[2015-02-19 09:49] jbrooksuk commented on #158
Doh.

[2015-02-19 09:50] GrahamCampbell commented on #158
Let me know when you're done, and I'll retrigger all failed jobs. There's quite a few.

[2015-02-19 09:50] jbrooksuk commented on #158
Wait a second...

![image](https://cloud.githubusercontent.com/assets/246103/6264537/b9f1dfdc-b81c-11e4-872c-7b6d6f91cb3e.png)

[2015-02-19 09:50] GrahamCampbell commented on #158
But that's only for my account.

[2015-02-19 09:51] GrahamCampbell commented on #158
You need to look at the oauth settings for your user, not for the organisation.

[2015-02-19 09:52] jbrooksuk commented on #158
![image](https://cloud.githubusercontent.com/assets/246103/6264579/f1727c32-b81c-11e4-91a1-15b1cfbd0b33.png)

[2015-02-19 09:53] GrahamCampbell commented on #158
Hmmm, very odd.

[2015-02-19 09:55] GrahamCampbell commented on #158
I've just pushed all failed jobs back on to the queue. They seem to be running fine?

[2015-02-19 10:04] GrahamCampbell commented on #158
PHP Fatal error:  Undefined class constant 'ALL_LEVEL' in /web/worker/storage/repos/670c2bdd94f511e2e7326a62468a0004d9b1100c/.php_cs on line 34

[2015-02-19 10:05] GrahamCampbell commented on #158
Hmmm, that's not for your repo, lol. Someone else has screwed up there.

[2015-02-19 10:06] GrahamCampbell commented on #158
Oh, that's failing because the pull request has been closed and the upstream has been deleted.

[2015-02-19 10:07] GrahamCampbell commented on #158
All others seems to be working? https://styleci.io/repos/26730195

[2015-02-19 10:07] #158 closed

[2015-02-19 10:40] jbrooksuk commented on #158
Error 500 on that link.

[2015-02-19 10:55] GrahamCampbell commented on #158
https://status.styleci.io/

[2015-02-19 10:59] jbrooksuk commented on #158
Nice!

[2015-02-19 11:01] GrahamCampbell commented on #158
lol

[2015-02-19 11:02] GrahamCampbell commented on #158
@jbrooksuk Regarding cachet incidents - to update the process on an indecent, do I edit it, or create a new one?

[2015-02-19 11:03] jbrooksuk commented on #158
You create a new one buddy.

[2015-02-19 11:04] GrahamCampbell commented on #158
@jbrooksuk I've fixed that other issue with the error 500 btw. :)

[2015-02-19 11:05] GrahamCampbell commented on #158
Status of web interface just gone from partial outage to performance issues now. Let me know if anything else shows as broken there.

[2015-02-19 11:12] jbrooksuk commented on #158
:+1:

[2015-02-19 11:38] jbrooksuk commented on #153
Ok, I'm looking at this now - but don't have much time to spend on it.

1. It's the Fixer class.
2. `Analyser@analyse` has this code:
[code]
    I think that the calculation is wrong?

[2015-02-19 12:10] #115 closed

[2015-02-19 12:10] GrahamCampbell commented on #115
Done.

[2015-02-19 12:10] #91 closed

[2015-02-19 12:10] GrahamCampbell opened #162 "New Config System"
After the removal of `.php_cs` config because it's a terrible security hole, we need to support config via `.styleci.yml`.

[2015-02-19 12:12] jbrooksuk commented on #91
What if each repo column had a `config` column. Then it's just a matter of saying:

1. Do we have a `.styleci.yml` file on the repo?
2. Do we have a `config` value?
3. Use the default config.

[2015-02-19 12:22] GrahamCampbell commented on #91
I plan to have a global config system, and allow per repo too, like scrutinizer does.

[2015-02-19 13:20] jbrooksuk commented on #154
@GrahamCampbell I removed caching from the `Repos.php` file and it still didn't work.

[2015-02-19 13:21] GrahamCampbell commented on #154
I meant the cached http client.

[2015-02-19 13:26] jbrooksuk commented on #154
I don't think that's the issue as when I was changing the requests it was updating just fine.

[2015-02-19 13:50] stygiansabyss opened #164 "500 server error"
So, found this one by accident last night.  If a user logins in but does not have the name field set to anything in their github profile, the site errors.  It comes up with undefined_index:name.

I had never noticed my name wasn't set in my settings, but the moment I fixed it, i was able to get started with the site.

[2015-02-19 13:52] jbrooksuk commented on #164
I'll fix.

[2015-02-19 13:57] jbrooksuk commented on #164
I've just signed up without a name and it worked, even after manually removing my name from the DB I can still navigate the site (although I lose the ability to get to the `account` page).

[2015-02-19 14:14] GrahamCampbell commented on #164
Thanks for reporting. Give me one sec.

[2015-02-19 14:15] #164 closed

[2015-02-19 14:15] GrahamCampbell commented on #164
Fixed.

[2015-02-19 16:22] MichaelBanks opened #170 "Group Repos By Organisation/Account"

[2015-02-19 18:58] stof commented on #154
@GrahamCampbell I'm quite sure that the issue is the way your php-github-api fork is setting the custom Accept header for the preview period. As it does not set it on the HttpClient itself, fetching the next page does not set this header again, and so Github uses the stable API for the page 2, not the preview version.

[2015-02-19 19:00] GrahamCampbell commented on #154
@stof Ok, so how do I fix that?

[2015-02-19 19:01] GrahamCampbell commented on #154
Doesn't that mean that all places in your repo that have a custom accept header are also broken @stof?

[2015-02-19 19:08] stof commented on #154
First, it's not my repo at all...

and the php-github-api project is always setting headers directly on the client itself (except for 1 case but it is not a paginated API call). Note that altering the client state might have a bunch of other issues though (but the php-github-api project is full of a bunch of state in classes which should better be stateless)

[2015-02-19 19:16] GrahamCampbell commented on #154
Sorry, yeh. But it's still a repo you have push access to?

Anyway, you've been very helpful @stof. I'm pretty sure I can get this working now. Thanks! :)

[2015-02-19 20:01] GrahamCampbell commented on #154
@jbrooksuk I've got this working. I'll be pushing a commit soon.

[2015-02-19 20:01] #154 closed

[2015-02-19 21:30] GrahamCampbell opened #180 "HTML And Plain Text Emails"
We need to send both.

[2015-02-19 23:03] #68 closed

[2015-02-20 08:50] stof commented on #154
no. the only KnpLabs repo where I'm a collaborator are the KnpMenu ones

[2015-02-20 09:20] GrahamCampbell commented on #154
Sure.

[2015-02-20 09:21] #153 closed

[2015-02-20 09:29] jbrooksuk commented on #180
Done.

[2015-02-20 09:42] #180 closed

[2015-02-20 10:04] GrahamCampbell opened #188 "Broken Fork Analysis"
Our notifications are failing for forks thus failing the build

[2015-02-20 10:15] #188 closed

[2015-02-20 10:27] GrahamCampbell commented on #151
Done.

[2015-02-20 10:27] #151 closed

[2015-02-20 13:19] #122 closed

[2015-02-20 13:19] GrahamCampbell commented on #122
Canceled.

[2015-02-20 14:04] GrahamCampbell opened #190 "Login Bug"
Just lifted this out of the prod logs:

https://i.starbs.net/AJX3

[2015-02-20 14:15] jbrooksuk commented on #190
That's when there is no account name set in the GitHub account.

[2015-02-20 14:35] GrahamCampbell commented on #190
That means the previous "fix" didn't work...

[2015-02-20 14:36] jbrooksuk commented on #190
I think this is caused by the registration itself.

[2015-02-20 14:37] GrahamCampbell commented on #190
Yeh. This needs to be fixed in our socialite fork.

[2015-02-20 14:39] jbrooksuk commented on #123
Laracasts uses [Helpful.io](https://helpful.io/)

[2015-02-20 14:41] GrahamCampbell commented on #123
I'll sign up for that...

[2015-02-20 14:42] jbrooksuk commented on #123
I'm going to use this on the new Cachet site too.

[2015-02-20 18:29] joecohens commented on #151
:+1:

[2015-02-20 19:55] joecohens commented on #190
Will use the Arr helper from NotifyMe

[2015-02-20 20:03] GrahamCampbell commented on #190
or just laravel's array_get?

[2015-02-20 20:04] joecohens commented on #190
Yeah I forgot it's just for Laravel lol

[2015-02-20 20:05] colinodell opened #191 "Expose configuration to disable the periods-in-docblock-comments check"
I personally don't end my docblock comments with a period (the first lines anyway), so all of my code is "failing".  It would be great if I could disable this particular test.

(Possibly related to #162?)

[2015-02-20 20:09] colinodell commented on #191
Closing per @GrahamCampbell's request.

[2015-02-20 20:09] #191 closed

[2015-02-20 20:15] GrahamCampbell commented on #191
@colinodell See https://github.com/StyleCI/StyleCI/issues/162 btw. :)

[2015-02-20 20:15] joecohens commented on #190
Cosed by https://github.com/StyleCI/socialite/pull/2

[2015-02-20 20:15] #190 closed

[2015-02-20 20:16] GrahamCampbell commented on #191
@colinodell Also, @MichaelBanks is managing the twitter account, just so you know. :)

[2015-02-20 20:17] GrahamCampbell commented on #190
:beers:

[2015-02-20 20:27] GrahamCampbell commented on #123
http://www.userreport.com

[2015-02-20 20:30] GrahamCampbell commented on #123
Got this sorted. Commit coming shortly.

[2015-02-20 20:44] GrahamCampbell commented on #123
Nice: https://i.starbs.net/eGKr.

[2015-02-20 20:48] jbrooksuk commented on #123
What's that? :)

[2015-02-20 21:09] #123 closed

[2015-02-21 15:35] GrahamCampbell opened #196 "Headers Not Showing After First Analysis"
While looking at a repo on StyleCI, and then pushing a commit, you will find that the headers are missing from the table produced.

[2015-02-21 16:00] jbrooksuk opened #197 "Filter Repos"
In the account page we should be able to filter the repos by typing the name into a box.

[2015-02-21 16:03] GrahamCampbell commented on #197
:+1:

[2015-02-21 19:44] GrahamCampbell opened #198 "Private Repo Support"
This ticket has some prerequisites:

* [ ] #199 - GitHub Webhook Token Validation
* [ ] #202 - Terms Of Service
* [ ] #201 - Middleware Permissions
* [ ] ~~#200 - Payments~~ *Private repos will be free for now*

[2015-02-21 19:49] GrahamCampbell opened #199 "GitHub Webhook Token Validation"
We need to only perform actions from github webhooks if they contain the correct token. We need to set this per repo.

[2015-02-21 22:03] GrahamCampbell opened #202 "Terms Of Service"
We need a terms of service.

[2015-02-21 22:07] GrahamCampbell opened #203 "Add Ability To Unsubscribe From All Emails"
We need to make this option available to all our users.

[2015-02-21 22:08] GrahamCampbell opened #204 "Ability To Set Notification Preferences"
Users should be able to configure if they get notified about failed analyses via email or not.

[2015-02-21 22:09] GrahamCampbell commented on #102
Done.

[2015-02-21 22:09] #102 closed

[2015-02-21 22:11] GrahamCampbell opened #205 "Realtime Updates Improvements"
Realtime updates on the repo page need to also extend to pickup new repos that are enabled, and also deal with repos being disabled too.

[2015-02-21 22:12] GrahamCampbell commented on #197
We also need to be able to filter repos in the analysed repos list as well as on the account page.

[2015-02-21 22:13] GrahamCampbell commented on #170
We need to be able to group repos by organisation/account on the repos page.

[2015-02-21 22:14] GrahamCampbell opened #206 "Sort Repos"
It would be cool to be able to sort repos by last analysed as well as by name as we're currently doing.

[2015-02-22 18:43] GrahamCampbell opened #214 "Fix Footer"
The footer is supposed to fit to the bottom of the page if there's little page content. This is no longer working.

Before: https://i.starbs.net/AWar

After: https://i.starbs.net/AJ2Z

[2015-02-22 19:06] jbrooksuk commented on #214
Done.

[2015-02-22 19:14] #214 closed

[2015-02-22 19:24] GrahamCampbell opened #217 "Dodgie Responsive Homepage"
https://i.starbs.net/A8jn

[2015-02-22 19:26] GrahamCampbell opened #218 "Dodgie Footer"
Footer is a mess on mobile devices. https://i.starbs.net/AZRl

[2015-02-22 19:28] jbrooksuk commented on #218
@joecohens I believe this is due to the sticky footer hack.

[2015-02-22 23:29] GrahamCampbell opened #219 "Truncated Diffs For Very Large Analyses"
See https://styleci.io/commits/76cf3e76a66395e0ca4ec8dd08a8ccee3ee574f9.

[2015-02-23 07:18] #218 closed

[2015-02-23 07:19] #217 closed

[2015-02-23 17:53] GrahamCampbell commented on #205
The individual commit page also needs to be able to subscribe to update about itself, including loading the diff if the status comes back as failed.

[2015-02-23 17:55] GrahamCampbell commented on #199
Moved to 0.2 because this will require a database change and a short amount of downtime.

[2015-02-23 17:57] GrahamCampbell opened #221 "Analysis Time Is Still Dodgie"

[2015-02-23 17:58] jbrooksuk commented on #221
:+1:

[2015-02-23 19:14] GrahamCampbell commented on #221
@jbrooksuk Are you able to look at this now?

[2015-02-23 19:14] #219 closed

[2015-02-23 19:14] GrahamCampbell commented on #219
Will be fixed in the next deploy.

[2015-02-23 19:21] #196 closed

[2015-02-23 19:23] joecohens commented on #219
:+1:

[2015-02-23 19:45] jbrooksuk commented on #221
I'm out buddy. Will do later if I have time 😄

Sent from my iPhone

[2015-02-24 19:37] GrahamCampbell opened #223 "Bugsnag"
Enable bugsnag on StyleCI.

[2015-02-24 19:47] GrahamCampbell opened #224 "Add A Thank You Page"
We need to thank all contributors, and all services offering us discounts.

[2015-02-24 21:42] GrahamCampbell opened #225 "Fix Emails That Always Say "Your" Commit"
Even when it's not your commit, the email still says it is...

[2015-02-25 00:48] MichaelBanks opened #226 "Open up ability to localize with language packs in future"
This is obviously a low priority matter.
We've seen a lot of Japanese traffic recently, hundreds of Tweets from Japanese users are flying around.
We've been shared on a few of their social media streams and tech sources:
http://b.hatena.ne.jp/entry/s/styleci.io/

![](https://i.starbs.net/e45P)
![](https://i.starbs.net/A8ln)
![](https://i.starbs.net/evyB)

This just shows we have an international m

[2015-02-25 08:35] jbrooksuk commented on #226
I was planning on moving out all of the text strings into a language file, then allowing each user to set the language of StyleCI from their account.

[2015-02-25 08:36] jbrooksuk commented on #225
I think the email just needs rewording.

[2015-02-25 08:36] jbrooksuk commented on #223
Sentry is another nice log tracker.

[2015-02-25 09:33] GrahamCampbell commented on #226
Sounds cool. @jbrooksuk can I assign this to you please, to send to the develop branch.

[2015-02-25 09:34] GrahamCampbell commented on #223
We already have a free deal with bugnsag. :)

[2015-02-25 10:01] jbrooksuk commented on #226
Yeah, no problem buddy.

[2015-02-25 10:01] jbrooksuk commented on #223
That's awesome!

[2015-02-25 10:36] jbrooksuk commented on #202
Things that this needs to do:

- [ ] Add a `agreed_terms` column to the `users` table.
- [ ] Display a page with the terms that **must** be accepted.
- [ ] Once agreed, we need to set the `agreed_terms` column to `1`.
- [ ] If the terms change we can just set all of `agreed_terms` back to `0` and they'll have to re-accept.

[2015-02-25 10:52] GrahamCampbell commented on #202
I was thinking just have a number in that column representing the version of the terms agreed to, so we can show them what's changed between versions.

[2015-02-25 18:44] joecohens commented on #226
:+1:

[2015-02-25 19:33] GrahamCampbell commented on #95
Done as part of ea302c6a360b3e5fcf9498372ef1ce27c2c7ff81.

[2015-02-25 19:33] #95 closed

[2015-02-25 19:34] GrahamCampbell commented on #162
Things are underway on https://github.com/StyleCI/Config and https://github.com/StyleCI/Fixer. Once that's done, I'll be sending a pull to this repo.

[2015-02-25 20:20] GrahamCampbell opened #230 "Our Diff Looks Quite Ugly Around The Edges"
This was pointed out by @MichaelBanks a while ago, and I keep forgetting to actually create the issue on GitHub, so here's that issue. :)

[2015-02-26 19:25] GrahamCampbell commented on #221
Ping @jbrooksuk.

[2015-02-26 20:48] GrahamCampbell opened #233 "Pending Analyses Not Getting Pushed To GitHub"

[2015-02-26 20:50] #162 closed

[2015-02-26 20:50] GrahamCampbell commented on #225
We also need to make sure we email people about errored and missconfigured analyses.

[2015-02-26 20:52] GrahamCampbell opened #234 "Blog Post On New Config System"
We need a blog post about our new config system. We also need to update our welcome email and login flash message to point to the post.

[2015-02-26 20:54] GrahamCampbell opened #235 "Configuration Of Symfony Finder"
Our current config system is good, but not good enough just yet. People have no way to configure which files actually get "fixed". When using a .php_cs file, they'd normally be calling methods on the a symfony fixer object to sort this, but we can't allow people to do that for obvious security reasons. We need a replacement system that people can use without compromising our security.

[2015-02-26 20:59] GrahamCampbell opened #236 "Seperate Queue For Analyses"
We don't want status updates to github for things like "pending" having to sit in a queue behind a bunch of analyses. Users want to see that sort of update displayed to them within a second or two after they happen, not 10 mins later if they've been stuck in thw job queue.

[2015-02-26 21:09] #233 closed

[2015-02-26 21:11] joecohens commented on #236
:+1:

[2015-02-26 22:12] #221 closed

[2015-02-26 22:12] GrahamCampbell commented on #221
Meh, removing it from public display. It's not useful information anyway.

[2015-02-26 22:23] #225 closed

[2015-02-26 22:23] GrahamCampbell commented on #225
Done.

[2015-02-26 22:24] GrahamCampbell opened #238 "Email People To Notify Of Misconfigured Analyses Too"

[2015-02-26 23:01] #238 closed

[2015-02-26 23:02] GrahamCampbell commented on #234
Done: https://blog.styleci.io/redefining-configuration.

We're shipping this stuff very shortly. :)

:rocket: :ship: :shipit:

[2015-02-26 23:02] #234 closed

[2015-02-26 23:10] joecohens commented on #234
:tada:

[2015-02-27 00:39] MichaelBanks opened #241 "Add 'Hide non-PHP repos' checkbox to Repositories tab."
Have it selected by default.

[2015-02-27 00:40] MichaelBanks commented on #170
can this be tagged for the next release?

[2015-02-27 08:12] jbrooksuk commented on #234
:beers:

[2015-02-27 18:58] #241 closed

[2015-02-27 18:58] GrahamCampbell commented on #241
This won't behave as expected because it wouldn't be hiding non-php repos already enabled.

[2015-02-27 18:59] GrahamCampbell commented on #170
This is marked to be done for the 0.2.0 release. The next release in a few days will be 0.1.3. 0.2.0 will come in 2 weeks.

[2015-02-27 20:32] GrahamCampbell opened #242 "Garbage Collect Repos Deleted From GitHub"
If someone deletes their repo from github, we need to remove it from our database. We need to be careful about how we implement this though. Perhaps we need to have an automated email send out to email users asking if it's ok? A repo could appear as deleted if for some reason we don't have access to it, like if third party access control was enabled, or the user's access token was invalid for a sh

[2015-02-28 11:37] GrahamCampbell opened #243 "New Custom "Login" Package"
We've already hacked socialite to pieces, and I want to move the result to our own "Login" package, and clean it up even more.

[2015-02-28 15:42] GrahamCampbell opened #244 "Conflicting Fixers"
PHP-CS-Fixer 2.0 is going to deal with conflicting fixers, but that's probably a few months off release yet. In the meanwhile, we need to deal with it at our end.

[2015-02-28 18:10] GrahamCampbell opened #245 "Deal With User Permission Changes"
If a user was an admin on a repo, but now is no-longer an admin, we need to transfer the repo to another user on StyleCI who is an admin. If no user exists, then the repo needs to be deleted from StyleCI.

[2015-02-28 18:10] GrahamCampbell opened #246 "Super Intelligent Account Deletion"
On account deletion, repos should be transferred to other users with admin permissions over the repo if they have a StyleCI account. This extends #245.

[2015-02-28 20:36] MichaelBanks commented on #224
Just noticed this assignment, will think of some options

[2015-02-28 21:22] MichaelBanks opened #247 "Prevent checks on .MD files"

[2015-02-28 21:38] #247 closed

[2015-02-28 21:38] GrahamCampbell commented on #247
We don't check markdown...

[2015-02-28 22:56] jbrooksuk commented on #245
I'd do this via temporary disabling of the repo and a notification to all admins on the repo.

[2015-02-28 23:04] GrahamCampbell commented on #245
Yeh, that's an issue for us. To get the list of collaborators on the repo, you actually need push access to it...

[2015-03-01 08:30] jbrooksuk commented on #245
That seems backwards.

[2015-03-01 09:24] GrahamCampbell commented on #245
Yeh, I'm working on a new system.

[2015-03-01 10:29] GrahamCampbell opened #248 "Have A "Running" Status Too"
It can be useful to distinguish between "pending" and "running".

[2015-03-01 10:55] GrahamCampbell opened #249 "Footer Not Fitting To The Bottom Of The Page Correctly"
When there is little page content, the footer should fit to the bottom of the page and there should be no horizontal scrolling.

[2015-03-01 17:10] GrahamCampbell opened #251 "About Page"
We need an about page. One of the aims of the about page can be to traffic people between this repo and the live site in an non-intrusive way...

[2015-03-01 17:12] GrahamCampbell opened #252 "Filter Usernames"
GitHub allows 2 byte string characters and RTL characters inside user names. That's undesirable for us. We need a layer to remove these characters, and only allow `a-z`, `A-Z`, and ` ` inside the user's `name`. NB, `username` should be left unmodified.

[2015-03-01 17:14] GrahamCampbell commented on #252
This is basically what we want:

[code]

[2015-03-01 17:33] jbrooksuk commented on #248
Pending is before the analysis right?

[2015-03-01 19:56] GrahamCampbell commented on #248
Current path: pending -> done.
Proposed path: pending -> running -> done.

[2015-03-01 20:00] keradus opened #254 "Question: origin... .php_cs"
Hi!
One little question.
Does StyleCI my `.php_cs` file, or only the `.styleci.yml` ?

[2015-03-01 20:00] keradus commented on #244
Or please just contribute at PHP CS Fixer 2.0 ;)

[2015-03-01 20:02] GrahamCampbell commented on #244
Yeh, I still wouldn't be switching over to 2.0 just yet anyway. I need this stuff without the rest of 2.0.

I'll hopefully have time to contribute to both. :)

[2015-03-01 20:04] GrahamCampbell commented on #254
I can't read `.php_cs` files because that would mean I'm requiring user provided php on my box. That would be a massive security problem. For this reason, I had to write a separate `.styleci.yml` config system.

So in summary, we only read `.styleci.yml` config files.

[2015-03-01 20:04] #254 closed

[2015-03-01 20:08] keradus commented on #254
I see :(

Thanks for quick answer.

[2015-03-01 20:10] GrahamCampbell commented on #254
@keradus My biggest problem at the moment is how to let people configure the symfony finder we're using. Have you got any suggestions?

[2015-03-01 20:13] keradus commented on #254
Symfony finder is native PHP code, you can't have whole functionallity without PHP here.

You may set some simple interface for the finder that mimics it's interface, like:
[code]
etc

[2015-03-01 20:40] GrahamCampbell commented on #254
Yeh, the trouble is that there's quite a few more methods than that on the finder class. That would probably be a good start though, yeh. :)

[2015-03-01 20:49] keradus commented on #254
Yeah, that's why I said about can't obtain full functionallity and do some simplification ;)

[2015-03-02 00:47] MichaelBanks commented on #248
proposed path: queued (place in queue, countdown?) -> pending -> initializing -> running -> done

[2015-03-02 00:49] MichaelBanks commented on #245
@GrahamCampbell could we not just scrape for the collaborators on the repo when we had access to it and used the last known information?

[2015-03-02 10:01] jbrooksuk commented on #248
Countdown for what?

[2015-03-02 19:25] #249 closed

[2015-03-02 19:26] GrahamCampbell commented on #245
Nope, our current system doesn't allow it. As I said, I'll do something better soon. I've got a few ideas in my head.

[2015-03-02 19:49] stof opened #257 "The recommended preset should include only safe fixers"
The ``psr-0`` fixer is an unsafe fixer (you cannot rename a class safely when dealing with a single file). So it should not be in the recommended preset IMO

[2015-03-02 20:10] GrahamCampbell commented on #257
Hmmmm. "recommended" must totally include "psr2" imo. I still find the psr0 fixer to be useful, even if I don't apply the fix from styleci, but fix it myself, do you see what I mean?

[2015-03-02 21:13] GrahamCampbell commented on #230
@joecohens Could you get rid of the horizontal scroll bar please? Also, I'm not sure what else needs doing to it now?

[2015-03-02 21:16] joecohens commented on #230
Sure! Since we already split the diff into files we only need to hide the horizontal scroll bar :)

[2015-03-02 21:17] GrahamCampbell commented on #230
Not sure if we could make the actual areas containing the diffs any prettier around the edges?

[2015-03-02 22:13] GrahamCampbell opened #259 "Make Badges More Obvious"
It would be cool to have a badge here:
![untitled](https://cloud.githubusercontent.com/assets/2829600/6451841/4020fb8c-c129-11e4-891c-d12b9a755382.png)

[2015-03-02 22:15] GrahamCampbell commented on #248
I think he means for time until job processing. We can't do that because we can't guess when queue worker will process the job, easily...

[2015-03-02 23:16] MichaelBanks opened #263 "Subject lines on emails are dumb"
![](https://i.starbs.net/pzlN)

These email subjects need to elaborate more on the content of the email

Suggestion: `[StyleCI] Failed Analysis - #<commit ID> on <account>/</repo>`

[2015-03-03 01:41] MichaelBanks opened #266 "There should be a button to collapse diffs on each file"
If we could collapse these diffs down to just the heading so we can hide/show the diff, that'd be cool
![](https://i.starbs.net/1PBw)

It'd also be nice to see a 'tree' of the files structured how they are in the repo

[2015-03-03 08:24] stof commented on #257
@GrahamCampbell But the psr-0 fixer is an unsafe one. I don't think unsafe fixers should be enabled by default

[2015-03-03 09:10] jbrooksuk commented on #259
I'd also suggest that you can click the badge to show the different image formats, so:

- Raw image source.
- Markdown embed.
- HTML embed.

[2015-03-03 19:32] GrahamCampbell commented on #257
This needs addressing on php-cs-fixer's level. I intend to match their defaults.

[2015-03-03 19:32] #257 closed

[2015-03-03 19:58] GrahamCampbell opened #268 "Allow User's To Download All Their Data"

[2015-03-05 15:23] sstok opened #270 "Allow to configure which paths should be analyzed/ignored"
Something like:

[code]

Or

[code]

[2015-03-05 20:50] #270 closed

[2015-03-05 20:50] GrahamCampbell commented on #270
Duplicate of #235.

[2015-03-05 20:50] GrahamCampbell commented on #270
We're open to pull requests though, if you want to have a go at writing this.

[2015-03-11 20:15] GrahamCampbell opened #271 "Deal With Renamed Repos Correctly"

[2015-03-11 22:18] MichaelBanks commented on #263
https://github.com/StyleCI/StyleCI/pull/273

[2015-03-11 22:18] #263 closed

[2015-03-11 22:21] MichaelBanks opened #274 "Email digests"
Have incremental emails instead of current JIT emails

[2015-03-11 22:37] GrahamCampbell opened #275 "Limit Simultanious Jobs Per Repo"
Depends on #248.

[2015-03-12 08:11] jbrooksuk commented on #274
You need to know when an analysis has failed though, not later in the day.

[2015-03-13 05:25] MichaelBanks commented on #274
Agreed, after further deliberation, more configurable notification options will come with future integrations.

[2015-03-13 05:25] #274 closed

[2015-03-14 06:46] mattclements opened #276 "Bitbucket Support"
Is Bitbucket currently supported, or likely to be supported?

[2015-03-14 08:58] MichaelBanks commented on #276
:+1: would be useful.

[2015-03-14 09:00] jbrooksuk commented on #276
GitLab could also be useful.

[2015-03-14 09:01] MichaelBanks commented on #276
Or any 'git' repo

[2015-03-14 09:01] jbrooksuk commented on #276
But @mattclements we don't currently support it.

[2015-03-14 10:09] #276 closed

[2015-03-14 10:10] GrahamCampbell commented on #276
Not planned. Travis doing support it eithert.

[2015-03-15 10:53] jrobeson opened #277 "Fixer lists on redefining-configuration page only show "Available Fixers" list"
Quoting @Stof:

your [Show] links are broken. they are all opening the full list of fixers

And the reason for this is easy: your HTML is invalid; you have multiple elements with the same id

[2015-03-15 11:04] GrahamCampbell commented on #277
Ping @MichaelBanks.

[2015-03-15 11:12] jrobeson commented on #277
can whoever fix it, also make it so it shows a different cursor than the I-bar? it's weird to click a thing with the I bar.

[2015-03-15 11:21] jrobeson opened #278 "Let the user (by email) know when style checks/fixers pass?"
Currently, it seems that StyleCI sends you an email for every failed check, but does not send an email for all passing checks. This is as (mostly) expected. I'm wondering if it should act like TravisCI and send you one email letting you know your checks have  passed after every every failed check.

[2015-03-15 11:24] jrobeson opened #279 "API documentation link correct?"
The API documentation link in the README points to http://docs.grahamjcampbell.co.uk/, but that doesn't seem like it is the correct link? or am i just misunderstanding?

PS: sorry for the issue barrage! So far, StyleCI is working as intended otherwise!

[2015-03-15 11:35] #279 closed

[2015-03-15 11:36] GrahamCampbell commented on #279
Yeh, I haven't actually generated the api docs in a while. I will do soonish. :)

[2015-03-15 11:37] GrahamCampbell commented on #278
Travis doesn't send emails out for every passed build. We also can't afford to do that anyway, sorry.

[2015-03-15 12:08] jrobeson commented on #278
that's not what i meant. i meant they send ONE email once your builds have passed, and then no more until it fails again

[2015-03-15 12:17] MichaelBanks commented on #277
Fixed

[2015-03-15 12:18] MichaelBanks commented on #277
Will look into the I-bar thing later @jrobeson

[2015-03-15 12:22] GrahamCampbell commented on #278
We'd accept a pull to implement this. :)

[2015-03-15 12:22] #277 closed

[2015-03-15 17:31] GrahamCampbell opened #280 "Cache Flush Across Multiple Servers"
Do we need to use a better caching library than laravel's?

// cc @StyleCI/cool-people

[2015-03-15 17:35] GrahamCampbell opened #281 ""No commits have been pushed to the master yet.""
Should really be "No commits to the master branch have been analysed yet", or something.

// cc @StyleCI/cool-people

[2015-03-15 19:02] #223 closed

[2015-03-15 19:18] joecohens commented on #280
We could do caching with either Redis or Memcached on only one of the servers and just connect all the apps to it with out having to replace Laravel library. What do you think?

[2015-03-15 19:25] GrahamCampbell commented on #280
That would reduce performance though.

[2015-03-15 19:25] GrahamCampbell commented on #280
Currently, we're using apc so the time to get to the cache is really low.

[2015-03-15 19:30] joecohens commented on #280
Yeah you right but it would help us to persist cache state on multiple apps so we can just start another server and be consistent with cache.

[2015-03-15 20:03] GrahamCampbell commented on #280
This can't be how large organisations deal with it?

[2015-03-15 20:34] #252 closed

[2015-03-16 17:33] jbrooksuk commented on #281
:+1:

[2015-03-16 20:52] #266 closed

[2015-03-16 20:52] GrahamCampbell opened #284 "Incremential Loading Of Diffs"
We should load new files in diffs as the user scrolls, 20 at a time.

[2015-03-16 20:55] GrahamCampbell opened #285 "Summary Of Changes"
The commit analysis page should provide a summary of the number of files changed and/or total lines modified. This should also be extended to all notifications inc github status pushing.

[2015-03-16 20:55] GrahamCampbell opened #286 "Improved Design Of Commit Page"
Keeping track of all the things:

* [x] #230
* [x] #248
* [x] #256
* [x] #259
* [x] #260
* [x] #272
* [x] #285
* [x] #287

[2015-03-16 20:58] joecohens commented on #281
:+1:

[2015-03-16 20:59] #281 closed

[2015-03-16 21:19] vinkla commented on #204
Would this be a simple `notifications` boolean on the users object?

[2015-03-16 21:22] GrahamCampbell commented on #204
Per repo and per user... We also have plans to support notifications via other mediums than just email.

[2015-03-16 21:24] GrahamCampbell commented on #204
Hard to explain, we are open to contributions though. We're quite limited on time atm.

[2015-03-16 21:33] vinkla commented on #204
I would like to help out. Just trying to wrap my head around how its going to work. There could be a integer on each user and repository object but then it's very static. Would be nice with some kind of separation table. How would you go about it?

[2015-03-16 21:48] #243 closed

[2015-03-16 21:48] GrahamCampbell commented on #243
Done.

[2015-03-16 21:48] vinkla commented on #204
I would like to help out with what I can.

[2015-03-16 21:52] GrahamCampbell commented on #204
We're open to pretty much anything you feel would be good. :)

[2015-03-16 21:52] GrahamCampbell commented on #204
Send to develop please though. :)

[2015-03-16 21:53] vinkla commented on #204
Nice. Will do.

[2015-03-16 23:06] GrahamCampbell opened #288 "Need A Way To Disable Bugsnag Instead Of Logging Bugsnag Being Broken Each Time"

[2015-03-17 07:12] MichaelBanks commented on #280
@GrahamCampbell Redis + local networking = <1ms

[2015-03-18 08:10] vinkla opened #291 "Stalled Analysis"
All my new commits have been pending since yesterday. This could be a bug or maybe the queue needs to be cleared. What do you think?

[2015-03-18 08:23] jbrooksuk commented on #291
Looks like @GrahamCampbell needs to restart the queue worker.

[2015-03-18 18:29] GrahamCampbell commented on #291
Gahhh. Some bitch must have commited their vendor folder, or something. :(

[2015-03-18 18:30] GrahamCampbell commented on #291
Sorry I haven't been able to do anything recently. I've been away for 2 days.

[2015-03-18 18:40] GrahamCampbell commented on #280
No it's not? Redis is blocking and io, I assume? They must have multiple redis instances?

[2015-03-18 18:40] GrahamCampbell commented on #280
I don't know enough about this though. Ping @jbrooksuk and @joecohens.

[2015-03-18 18:43] GrahamCampbell commented on #291
You can check https://status.styleci.io/ to see when I fix this. :)

[2015-03-18 18:53] vinkla commented on #291
Great!

[2015-03-18 21:13] jbrooksuk commented on #280
I believe they run multiple Redis instances, but I'm not sure how the caches stay in sync. I've never gone past one Redis server.

[2015-03-19 06:41] HinchK commented on #280
If your hosting is built on AWS, your hosting provider might be able to get elasticache up and running for redis replication as long as your connect to their Elastic Load Balancer...i.e. their gateway.

If !AWS, Redis Sentinel seems pretty cool and could give you more granularity over your caching and replication <http://redis.io/topics/sentinel>

Storing huge-keys or heavy write-demands make repl

[2015-03-19 11:26] MichaelBanks commented on #280
@GrahamCampbell you're forgetting this is what I do. We should just use redis cluster with partitioning

[2015-03-19 21:42] #291 closed

[2015-03-19 21:42] GrahamCampbell commented on #291
All sorted. :)

[2015-03-19 21:42] GrahamCampbell commented on #291
We basically added more capacity. The stalling was just because we wouldn't process the jobs fast enough.

[2015-03-19 21:48] vinkla commented on #291
Great!

[2015-03-19 22:23] MichaelBanks opened #293 "Leaderboard"
Points for people who code good.

:+1:

[2015-03-20 11:37] GrahamCampbell opened #301 "Improve About Page"
Talk about our GitHub, and include a short bio for each member of the team.

[2015-03-20 11:38] #251 closed

[2015-03-20 11:39] GrahamCampbell opened #302 "Fix About Page On Large Screens"
White gap appears bellow the image. :(

[2015-03-20 12:11] MichaelBanks commented on #302
Will be resolved when we add content to 'content'

[2015-03-20 12:12] MichaelBanks commented on #301
As per my suggestion, yep. We will.

[2015-03-20 12:14] MichaelBanks commented on #248
@GrahamCampbell record the time jobs take, how many files are involved and the total filesize and we can make some averages and figure out how long a job will take fairly easily.

[2015-03-20 12:15] GrahamCampbell commented on #248
I think "easily" isn't correct, but this will certainly be fun to implement when I've got more time later.

[2015-03-21 11:55] jbrooksuk commented on #280
I spoke to GoSquared yesterday. They told me to use one big Redis server with a replicate, rather than clustering. But like @HinchK they too use AWS and it makes it much easier for them to scale.

[2015-03-21 12:00] jbrooksuk opened #304 "Analysis emails marked as spam"
Mail.app has been marking the analysis emails as spam. I noticed we're using Mailgun, so there is a SPF record. Is there a DKIM one too?

[2015-03-21 12:41] GrahamCampbell commented on #280
Right.

[2015-03-22 12:47] MichaelBanks commented on #304
@jbrooksuk looking into it. Seems it's due to the content not being unique. The subject lines and email content needs to be worked on.

[2015-03-22 12:48] jbrooksuk commented on #304
Do we have a DKIM record set too?

Sent from my iPhone

[2015-03-22 13:34] GrahamCampbell commented on #304
No, that's not true. Most spam algorithms don't work like that. If they did, people would just put random strings in the messages.

[2015-03-22 14:42] jbrooksuk commented on #304
@GrahamCampbell is correct.

[2015-03-22 17:48] Jamesking56 commented on #198
:+1:

[2015-03-22 18:10] GrahamCampbell commented on #198
Just a note for anyone seeing this - this feature has been delayed until July 2015. I literally have no time to dedicate to this at the moment. I want to launch private repo support when I have a good amount of time to maintain the service.

[2015-03-22 18:13] GrahamCampbell opened #305 "Upgrade To Laravel 5.1"

[2015-03-22 19:32] jbrooksuk commented on #198
:+1:

[2015-03-22 20:41] Jamesking56 commented on #198
@GrahamCampbell Let me know if you need some help with this.

[2015-03-22 20:59] GrahamCampbell commented on #198
As I said, I'll be doing it in July, so I might ping you then. :)

[2015-03-22 21:28] Jamesking56 commented on #198
Yeah I'll be happy to help :)

[2015-03-23 16:26] MichaelBanks commented on #304
@jbrooksuk gist the source of a email sent to spam on mail.

[2015-03-23 16:26] MichaelBanks commented on #304
@GrahamCampbell A/B testing

[2015-03-25 22:25] #205 closed

[2015-03-25 22:26] GrahamCampbell opened #310 "Commit Page Auto-Update"
The individual commit page also needs to be able to subscribe to update about itself, including loading the diff if the status comes back as failed.

[2015-03-25 22:26] GrahamCampbell commented on #205
Done.

[2015-03-26 17:05] GrahamCampbell commented on #198
Just putting this here as it supports setting the private key to use until our current git wrapper: https://github.com/cpliakas/git-wrapper/blob/master/src/GitWrapper/GitWrapper.php. It's possible I'll send a pull to the git wrapper we're using. It's also possible we won't need this if we use deploy keys.

[2015-03-26 17:08] jbrooksuk commented on #198
FWIW I've known some services to add a special user to a repo/org with read permissions on a repo.

[2015-03-26 17:10] GrahamCampbell commented on #198
That sounds dodgie, lol.

[2015-03-26 17:15] jbrooksuk commented on #198
Lol, I guess it is, but it's one way of doing it.

[2015-03-27 12:09] #259 closed

[2015-03-27 12:09] GrahamCampbell commented on #259
Done.

[2015-03-28 11:09] jbrooksuk commented on #202
How would we store the "versions" of the terms?

[2015-03-28 11:09] jbrooksuk commented on #202
Just a config?

[2015-03-28 11:11] GrahamCampbell commented on #202
Hmmmm, hard code the version as a constant or something.

[2015-03-28 11:11] GrahamCampbell commented on #202
Also, please do this on develop since we'll need those database changes.

[2015-03-28 11:12] jbrooksuk commented on #202
Sure thing.

[2015-03-28 11:12] GrahamCampbell commented on #202
I don't want patch releases to require db migrations.

[2015-03-28 15:59] jbrooksuk opened #314 "Ubuntu 14.04 mbregex compile err"
[code]

Interesting error.

[2015-03-28 16:07] GrahamCampbell commented on #314
StyleCI production is on ubuntu 14.04, and I don't see this?

[2015-03-28 16:13] GrahamCampbell commented on #314
[code]

[2015-03-28 16:14] jbrooksuk commented on #314
[code]

[2015-03-28 16:27] GrahamCampbell commented on #314
Hmmm. Maybe a bug in php 5.5.9. Is it possible for you to check it on a newer php 5.5.x version?

[2015-03-28 17:02] jbrooksuk commented on #314
I could update the server now, yeah.

[2015-03-28 17:08] jbrooksuk commented on #314
Works on:

[code]

[2015-03-29 15:48] GrahamCampbell opened #315 "Correctly Truncate Commit Messgaes Before Persisting"

[2015-03-29 16:09] GrahamCampbell opened #316 "Fix Badge Dropdown URLs"
// cc @MichaelBanks, @joecohens

[2015-03-30 08:29] jbrooksuk opened #317 "Notify the correct email"
For some of my organisational repositories I have notifications setup to email a different address, for example:

- `jbrooksuk/*` repositories will email my personal email.
- `cachethq/*` repositories will email my Cachet HQ email.

I've setup GitHub to email the different addresses depending on the org. StyleCI should respect that too.

[2015-03-30 10:24] jbrooksuk commented on #317
I've had a brief look for an API that'd give us the relevant email address, but I can't find it. I thought it'd be [Emails](https://developer.github.com/v3/users/emails/) but that just gives us a list of them.

[2015-03-30 11:09] GrahamCampbell commented on #317
We just send emails to your primary email address for now. This will be more configurable when we do the whole notifyme refactor.

[2015-03-30 11:09] #317 closed

[2015-03-30 12:39] jbrooksuk opened #318 "Change URL structure for commits"
Although unlikely, it's possible that this url `https://styleci.io/commits/8a7555ccb232f1645d74e9b63eee4b6caec9dfe6` could clash with another commit on a completely different repo. For that reason I think we should change the URL to one of the following:

- `https://styleci.io/repos/repo_id/commits/8a7555ccb232f1645d74e9b63eee4b6caec9dfe6`
- `https://styleci.io/repos/repo_id/8a7555ccb232f1645d74e9

[2015-03-30 13:31] GrahamCampbell commented on #318
I'm aware of that, but it's not the url structure that's the issue. It's going to be the database design...

[2015-03-30 13:38] jbrooksuk commented on #318
The URL structure is partially the issue as there is no identification to what repo the commit belongs to.

[2015-03-30 13:40] GrahamCampbell commented on #318
That's quite common though. Nested resource are generally a bad idea, apparently.

[2015-03-30 13:41] jbrooksuk commented on #318
Really? In this case I'd say it's unavoidable because the commit doesn't explicitly state the repo id, so you'd need `repos/repo_id/commit_id`.

[2015-03-30 23:30] #315 closed

[2015-03-30 23:31] #314 closed

[2015-03-30 23:37] GrahamCampbell opened #320 "Last Call Before 0.1.3 Gets Shipped"
Is there anything that needs doing before we roll out 0.1.3?

// cc @StyleCI/cool-people

[2015-03-30 23:55] GrahamCampbell opened #325 "Fix Icon Not Updated After Status Change On Commit Page"

[2015-03-31 00:02] GrahamCampbell commented on #320
We need to update the login flash message to say that we're upgrading to php-cs-fixer 1.6.1 from 1.5.2 on Thursday 9th April.

[2015-03-31 00:04] #316 closed

[2015-03-31 10:02] #320 closed

[2015-03-31 10:02] GrahamCampbell commented on #320
And 0.1.3 is live!

[2015-03-31 10:04] jbrooksuk commented on #320
That wasn't a lot of time Mr. Graham ;)

[2015-03-31 10:36] GrahamCampbell commented on #320
lol, yeh. Forgot to mention the time of shipping would be 11am today. I told chip on skype, and that was about it. Ooops....

[2015-03-31 22:10] MichaelBanks commented on #302
Close this issue. Bug only exists due to lack of content.

[2015-04-09 20:34] GrahamCampbell commented on #235
Done.

[2015-04-09 20:34] #235 closed

[2015-04-09 20:35] #302 closed

[2015-04-10 22:55] potherca opened #326 "Default style-checks seem incorrect"
I just tried out StyleCI and although the first impressions are promising there is one part that annoys/confuses me... Although the site strongly suggests it checks code against PSR-2, this is both not explicitly mentioned and not true, as other checks that are NOT PSR-2 compliant but extra enforcements from the CS-Fixer (like whether or not to allow semicolons to be on a separate line or not) als

[2015-04-10 22:57] GrahamCampbell commented on #326
This is the default because I don't want to have to configure all my projects to use "recommended" rather than psr2, though we do have plans to add configuration you can set per account as a default from our web interface. That's likely to take a bit of time though, since none of us have time to work on that in the near future.

[2015-04-10 22:58] GrahamCampbell commented on #326
I believe our default to be good anyway - it's psr-2 with a load of really sensible rules from symfony, and some psr-5 stuff too.

[2015-04-10 23:00] GrahamCampbell commented on #326
@potherca I do agree that we need to change this default though - we just don't have the other stuff ready yet so we can actually make the change. We'd also have to giver users decent notice because we made the change.

[2015-04-10 23:07] potherca commented on #326
It's not so much about whether or not the default is *good*, it's about there not being a clear statement about what the default is (or where it comes from).

The "works for me" argument seems fair enough, considering that a "per account" config might be on the roadmap in the future. This would also make it more transparent to less knowledgable users which rule comes from where.

If a per account

[2015-04-10 23:10] GrahamCampbell commented on #326
We do have a blog post about this btw: https://blog.styleci.io/redefining-configuration/.

[2015-04-10 23:10] GrahamCampbell commented on #326
Though, it is a tiny bit outdated now. We'll be publishing a new post very shortly - we changed some stuff in our 9th April deploy.

[2015-04-11 08:14] jbrooksuk opened #327 "Merge requests shouldn't affect the shown status"
Cachet has an open pull request which has failed, so StyleCI shows it as failed:

![image](https://cloud.githubusercontent.com/assets/246103/7100752/25bcd84e-e02b-11e4-83e4-f3a037af6437.png)

![image](https://cloud.githubusercontent.com/assets/246103/7100753/34e71dc0-e02b-11e4-93ce-3c17e42428e9.png)

[2015-04-11 08:24] jbrooksuk commented on #270
:+1:

[2015-04-11 08:25] jbrooksuk commented on #270
@GrahamCampbell would it be good to detect a Laravel project (as an example) and ignore certain directories by default?

[2015-04-11 09:01] GrahamCampbell commented on #270
This is actually already implemented now, and is in prod.  A blog post is coming soon.

[2015-04-11 10:56] GrahamCampbell commented on #327
Oh wow. Bit of a bug there. This looks like it's because the pull request was sent from the master branch of the fork.

[2015-04-11 10:57] jbrooksuk commented on #327
After I reported the bug I looked through the code in an attempt to fix it, but then got pulled into a backup restore failing.

Is this even fixable with the current architecture?

[2015-04-11 10:58] GrahamCampbell commented on #327
Yeh, the fix should be really simple. :)

[2015-04-11 11:02] GrahamCampbell commented on #327
I'll look into it now...

[2015-04-11 11:06] GrahamCampbell commented on #327
Ohhh, deal. It's caused by a commit id collision...

[2015-04-11 11:07] jbrooksuk commented on #327
Lol. The chances.

[2015-04-11 11:08] GrahamCampbell commented on #327
I wonder if this is because the pull request was rebased, only without the commits on top, so it was pushed in an identical state to cachet's master, thus having the same commit id.

[2015-04-11 11:08] GrahamCampbell commented on #327
I'm going to manually apply a fix to the data, one sec...

[2015-04-11 11:10] GrahamCampbell commented on #327
Fixed.

[2015-04-11 11:10] #327 closed

[2015-04-11 11:11] GrahamCampbell commented on #327
This is a very unusual edge case, lol.

[2015-04-16 08:11] vinkla opened #328 "Deleting Account Error"
When trying to delete my account it loaded for a while and then it returned a 500 error page.

https://styleci.io/account/delete

[2015-04-16 12:19] GrahamCampbell commented on #328
is that because you have repos enabled that don't exist on github anymore?

[2015-04-16 12:43] vinkla commented on #328
Yes, I tried it because of that. Shouldn't it work anyways?

[2015-04-16 12:45] jbrooksuk commented on #328
When you delete your account it disables StyleCI on every [enabled repo](https://github.com/StyleCI/StyleCI/blob/c0f738787acaff03e4f3cd672f13030223745ca9/app/Handlers/Commands/DeleteAccountCommandHandler.php#L40-42).

@GrahamCampbell we should add error handling to this incase it fails.

[2015-04-16 13:17] GrahamCampbell commented on #328
@jbrooksuk Yes and no. We actually roll back all changes because of the error because our commands are executed within db transactions.

[2015-04-16 13:18] GrahamCampbell commented on #328
We have no way to know if the error was such that we can continue or not basically. Better safe than sorry, so we don't continue.

[2015-04-16 13:23] jbrooksuk commented on #328
Hmm, is it possible to check if a repo has a web hook of a certain URL?

[2015-04-16 13:24] GrahamCampbell commented on #328
I don't really have time to look into this, but I can delete your account for you and all your repos if that's what you want?

[2015-04-16 13:24] vinkla commented on #328
Though, this should resolve itself as soon #271 is fixed. Then this error shouldn't occur anymore, right?

[2015-04-16 13:25] vinkla commented on #328
@GrahamCampbell Maybe you could delete just one repository?

[2015-04-16 13:25] GrahamCampbell commented on #328
Should be possible yeh.

[2015-04-16 13:26] vinkla commented on #328
Thanks! The ID of the repo is 13329845.

[2015-04-16 13:33] GrahamCampbell commented on #328
Done.

[2015-04-16 13:34] vinkla commented on #328
Thanks!

[2015-04-16 13:34] #328 closed

[2015-04-19 13:52] crynobone commented on #270
I would feel that it would be nice if we could detect path using composer `"require"` data. This would avoid us to include/ignore path by default for most cases and by right shouldn't cause any security concern.

[2015-04-19 14:36] GrahamCampbell commented on #270
Hmmm. what about fixing the cs in areas that are not "required" though, like in the tests. Some people autoload tests in require-dev, but some people don't at all.

[2015-04-19 14:42] crynobone commented on #270
We could include `"require-dev"` as well, but if the user want to ignore it, it still possible by adding `excluded` in `.styleci.yml`.

[2015-04-19 14:46] GrahamCampbell commented on #270
We still have the problem that this is breaking for people who won't notice the behaviour has changed, and suddenly we're not going to be checking their tests if they;re not required in composer.

I'm not totally opposed to this idea though. Maybe we need to have this option available to enabled in the config?

[2015-04-19 14:50] jbrooksuk commented on #270
Also what if the project doesn't use Composer?

Sent from my iPhone

[2015-04-19 14:56] crynobone commented on #270
Anything is better than using `->in($project_dir)` :smile_cat:

For those project, it could stick with current structure (which is by default including the base project directory).

[2015-04-19 14:57] GrahamCampbell commented on #270
I don't see why this is so bad?

[2015-04-19 14:57] GrahamCampbell commented on #270
What example do you have where this behaviour is unwanted?

[2015-04-19 15:03] crynobone commented on #270
Mostly when I also have `.php_cs` and styleci running together. For `.php_cs` it has the ability to define `->in()` and `->exclude()` but not under styleci.

As an example, for Laravel project by default this also include `server.php` (no way to exclude that), and `public/..`. I could also have other `.php` file sitting under the root directory that shouldn't trigger php-cs-fixer violation if I wa

[2015-04-19 15:32] GrahamCampbell commented on #270
Well, we are open to pulls I guess. I do like this idea, but just have no time to implement it.

[2015-04-19 18:36] sstok commented on #270
I have a crazy but powerful idea :)

[code]

I still have some work to-do for Gush but after that I should be able to make this :+1:

[2015-04-23 14:07] GrahamCampbell opened #330 "Search Stuff Totaly Broken"
https://styleci.io/account

If you enable a repo, then search for it, doesn't show as enabled. Also, if you try to enable a repo after searching for it, it doesn't work. The server returns a 403.

[2015-04-23 14:08] GrahamCampbell commented on #330
Ping @jbrooksuk.

[2015-04-23 17:02] jbrooksuk commented on #330
Ok, should just need `fuze` updating on sync.

[2015-04-23 17:31] GrahamCampbell commented on #330
How can you explain the "enable" buttons being broken if the search was used?

[2015-05-11 20:40] #330 closed

[2015-05-11 21:26] #325 closed

[2015-05-18 14:49] jbrooksuk opened #335 "Two factor authentication"
We should add two factor authentication for security.

[2015-05-18 14:50] GrahamCampbell commented on #335
We already have that though, through github?

[2015-05-18 14:51] jbrooksuk commented on #335
Good point! I forgot that if you have 2FA enabled on GH it'll ask again.

[2015-05-18 14:51] #335 closed

[2015-05-18 14:52] GrahamCampbell commented on #335
TBH, we should all start using it on github. We all have quite a lot on our accounts. Don't want them getting hacked...

[2015-05-18 14:52] jbrooksuk commented on #335
I'm going to enable it again now.

[2015-05-18 18:26] sstok commented on #335
FYI you can also use SMS (that is what I'm using right now :) )

[2015-05-18 18:43] GrahamCampbell commented on #335
I forgot to mention, my phone has a crap battery life, so I couldn't guarantee it having charge when I need it, lol. Thanks for letting me know though. :)

[2015-05-19 09:34] jbrooksuk commented on #293
I don't think that we should make StyleCI into a competitive thing, it's a helper, not a game. Thoughts?

[2015-05-19 17:33] GrahamCampbell commented on #293
Hmmm, d'no. I assume the idea here is to help with publicity for StyleCI. ie, allow people to tweet their place in the leaderboards, etc.

[2015-05-19 18:08] #301 closed

[2015-05-22 20:22] jbrooksuk opened #339 "Check files for copyright header"

[2015-05-23 23:49] strebl opened #340 "Default StyleCI settings"
Hi @GrahamCampbell

I really love this service! Thank you for your work!

I need a little help.
If I develop I'd like to run php-cs-fixer locally without needing to push to github and then apply the StyleCI patch file.
But I didn't find the php-cs-fixer settings to get the same output as the default StyleCI output.

Do I miss something?

[2015-05-24 08:39] jbrooksuk commented on #340
StyleCI uses these [recommended settings](https://github.com/StyleCI/Config/blob/master/src/Config.php#L301-369). You can set these in your `.php_cs` file and it'll run the same.

[2015-05-24 08:39] #340 closed

[2015-05-24 08:49] GrahamCampbell commented on #340
@strebl We do have plans to add a cli tool you can run locally that will make this stuff way easier. :)

[2015-05-24 23:51] strebl commented on #340
Thanks @jbrooksuk and @GrahamCampbell for your help!

[2015-05-25 14:58] GrahamCampbell commented on #305
Done. :)

[2015-05-25 14:58] #305 closed

[2015-05-26 14:04] GrahamCampbell opened #341 "Register Our Own Custom Logger"
This can allow us to log to multiple places at once instead of having custom logic in the exception handler. This will make sure ALL information is persisted everywhere, like to bugsnag for example.

[2015-05-27 09:01] #341 closed

[2015-05-27 09:01] GrahamCampbell commented on #341
Done.

[2015-05-27 09:02] #288 closed

[2015-05-27 09:02] GrahamCampbell commented on #288
Done.

[2015-05-27 09:04] GrahamCampbell opened #343 "Event Based Logging"

[2015-05-27 10:17] #343 closed

[2015-05-27 10:29] GrahamCampbell commented on #271
`https://api.github.com/repositories/:id:` is a thing.

[2015-05-27 18:51] GrahamCampbell opened #345 "Guzzle 6"
Both Laravel 5.1 and StyleCI Login need uodating.

[2015-05-27 20:57] GrahamCampbell opened #346 "ExampleException in home#example"
## New exception in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://bugsnag.com/errors/example/events/example)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://bugsnag.com/errors/example/ev

[2015-05-27 20:57] #346 closed

[2015-05-27 20:57] GrahamCampbell commented on #346
:)

[2015-05-27 21:04] GrahamCampbell opened #347 "Upgrade To PHP-CS-FIXER 1.9"

[2015-05-27 21:54] GrahamCampbell commented on #347
Done.

[2015-05-27 21:54] #347 closed

[2015-05-27 21:54] GrahamCampbell commented on #345
Done.

[2015-05-27 21:54] #345 closed

[2015-05-27 23:01] #285 closed

[2015-05-28 07:07] jbrooksuk commented on #346
We need a robot account like "StyleCIReporter" or something ;)

[2015-05-28 08:33] GrahamCampbell commented on #346
Maybe. Actually, I think I already made us a bot account. It's the one we use to clone repos in git.

[2015-05-28 08:34] jbrooksuk commented on #346
Go forth and automate!

[2015-05-29 17:17] GrahamCampbell opened #350 "Status API Updates Failing Silently"
For some reason some of our status API requests to github aren't happening. I have no idea why this is happening. It appears totally random.

[2015-05-29 18:37] GrahamCampbell opened #352 "Leaving Message Required"
We need to send out an email on account deletion.

[2015-05-29 22:49] #350 closed

[2015-05-29 22:49] GrahamCampbell commented on #350
Fixed.

[2015-05-29 22:55] vinkla commented on #350
What was causing it?

[2015-05-29 23:03] GrahamCampbell commented on #350
No clue. Could have been a number of things, lol.

[2015-05-30 14:53] GrahamCampbell opened #354 "Cron Job To Mark Old Pending Jobs As Errored"
We need to mark all jobs that weren't correctly processed as errored instead of leaving them as pending for ever.

[2015-05-30 17:50] #354 closed

[2015-05-31 13:55] GrahamCampbell opened #356 "Upgrade To Elixir 2.x"
We're still on Elixir 1.x.

[2015-05-31 16:57] #236 closed

[2015-05-31 16:58] GrahamCampbell commented on #236
No longer valid as we're no-longer queueing up notifications over and over.

[2015-05-31 16:58] #197 closed

[2015-05-31 16:58] GrahamCampbell commented on #197
Done. :)

[2015-05-31 18:30] #230 closed

[2015-05-31 19:29] #280 closed

[2015-06-02 12:31] GrahamCampbell commented on #271
Found a better way of doing this.

[2015-06-02 12:31] GrahamCampbell commented on #271
Fixed now. :)

// cc @jbrooksuk, @joecohens, @vinkla

[2015-06-02 12:31] #271 closed

[2015-06-02 12:32] jbrooksuk commented on #271
Awesome!

[2015-06-02 12:32] GrahamCampbell commented on #271
https://github.com/StyleCI/StyleCI/compare/4dc0a03d0982ed43a96d913ae1d543f22d01b169...9d4252a07c58f13c97b849d6e2f3f507c0c8e8e6

[2015-06-02 12:33] GrahamCampbell commented on #271
Two changes really - the first is to use github's redirecting preview api, and the second is to update our copy of the repo name every time we fetch the user's repos from github if it's changed.

[2015-06-02 12:34] GrahamCampbell commented on #271
This means if the repo has renamed before we've resynced, the gui will still show as old to the user, but our api requests behind the scenes should still be working. :)

[2015-06-02 12:46] GrahamCampbell opened #357 "TODO: Uncomment The Scheduled Cleanup"
We need to be 1000% sure it works first and has no undesirable consequences. :)

[2015-06-02 13:05] vinkla commented on #271
:+1:

[2015-06-02 15:34] joecohens commented on #271
Great! :)

[2015-06-03 18:19] #356 closed

[2015-06-04 09:54] GrahamCampbell opened #359 "Diff Display Issue On Firefox/Ubuntu"
Reported by Martijn.

[2015-06-04 22:29] GrahamCampbell opened #360 "Upgrade To Laravel Elixir 2.3"

[2015-06-05 10:51] GrahamCampbell opened #363 "Have "Analyses" Instead Of Commits"
The idea of "commits" is fundamentally floored for StyleCI because we treat a commit as belonging to a single repo, and being associated with a single branch, but this is not how commits actually work. A commit can be associated present in multiple repos and multiple branches, and commit ids are not unique to all of github. For this reason, we need to change the way we store this information.

The

[2015-06-05 19:32] GrahamCampbell opened #364 "Ajax Load The Main Repos List As Well As The One On The Account Page"
Give the perception of a faster login for users. :)

[2015-06-05 19:33] #58 closed

[2015-06-05 20:07] #360 closed

[2015-06-10 13:21] GrahamCampbell opened #367 "Mail Users When Their Repo Is Enabled/Disabled"
For enabling repos, this is our opportunity to make sure people know how to configure them, and for disabling them, I feel it's always good to let users know when destructive operations happen on their account so they have a record of them, or did it by mistake, eg.

[2015-06-10 13:23] jbrooksuk commented on #367
:+1:

[2015-06-16 06:12] joecohens commented on #367
:+1:

[2015-06-18 08:53] lucasmichot commented on #318
it would make sense

[2015-06-18 11:08] GrahamCampbell commented on #318
@jbrooksuk That's still wrong though.

[2015-06-18 11:09] GrahamCampbell commented on #318
It doesn't correctly model our situation to store "commits".

[2015-06-18 12:56] jbrooksuk commented on #318
How do you imagine it'll work then?

[2015-06-18 12:56] jbrooksuk commented on #352
:+1:

[2015-06-18 12:57] #318 closed

[2015-06-18 12:57] GrahamCampbell commented on #318
See https://github.com/StyleCI/StyleCI/issues/363. :)

[2015-06-18 12:57] GrahamCampbell commented on #318
I thought this issue was that, lol.

[2015-06-18 13:20] #352 closed

[2015-06-19 00:13] mickaelandrieu commented on #363
agree, take a look to SensioLabs Insight SDK can be interesting too => https://github.com/sensiolabs/insight/tree/master/Sdk/Model

[2015-06-20 22:29] #38 closed

[2015-06-20 22:30] #198 closed

[2015-06-24 10:28] GrahamCampbell opened #370 "Bootstrap 3.3.5 Upgrade"
We're stuck on 3.3.4 because 3.3.5 broke stuff.

[2015-06-25 15:00] GrahamCampbell commented on #359
Can anyone confirm this?

[2015-06-26 08:19] #367 closed

[2015-06-26 17:32] GrahamCampbell opened #372 "Switch To Alt Three Packages"

[2015-06-26 18:23] #372 closed

[2015-06-26 23:00] GrahamCampbell opened #373 "Repo Locking"
We need to make it impossible to a repo to be garbage collected during analysis. Consider the gc does a scan of the repos, then starts deleting them, and then while folders are getting deleted, and analysis kicks off using a repo that's about to get deleted. We then have a mess...

That said, I'd expect the garbage collector to error and for the analysis to error, though the analysis will error at

[2015-06-26 23:01] GrahamCampbell commented on #373
The probability of the first event occurring is very low, and the 2nd, almost 0, though both are technically possible, so we do need to think about this problem at some point.

[2015-06-26 23:02] GrahamCampbell commented on #357
Fixed, and done.

[2015-06-26 23:02] #357 closed

[2015-06-26 23:05] GrahamCampbell commented on #373
One particular case were the 2nd event could be totally catastrophic is if we implement the automatic pushing of cs fixes to github. We'd basically be deleting all the code...

[2015-06-27 08:43] jbrooksuk commented on #370
I assume it's just the weird buttons on the homepage that's broken?

[2015-06-27 08:49] GrahamCampbell commented on #370
Not 100% sure. That's just the first thing I noticed so reverted the upgrade at the time.

[2015-06-27 08:51] #370 closed

[2015-06-29 08:26] GrahamCampbell opened #375 "Handle pagination of analyses with Vue"

[2015-06-29 17:17] joecohens commented on #375
What if we make it load more on page scroll?

[2015-06-29 17:18] GrahamCampbell commented on #375
That would be cool, yeh. :)

[2015-06-29 17:20] joecohens commented on #375
:)

[2015-06-30 22:34] #364 closed

[2015-06-30 22:48] GrahamCampbell opened #380 "Fix Analysis Colours Not Showing"

[2015-06-30 23:45] GrahamCampbell commented on #363
Implemented.

[2015-06-30 23:45] #363 closed

[2015-06-30 23:46] GrahamCampbell commented on #363
@mickaelandrieu That is just their sdk so isn't very hepful to us. The way their internals work is probably quite different. Thanks anyway.

[2015-06-30 23:50] #224 closed

[2015-06-30 23:52] #202 closed

[2015-06-30 23:54] GrahamCampbell opened #381 "Filter Analyses"
It would be good to have the ability to select the branch to look at, and also to view PR analyses.

[2015-06-30 23:56] joecohens commented on #381
:+1:

[2015-07-01 00:08] GrahamCampbell commented on #381
Note that now we're storing "branch" and "pr" where branch is `string|null` and pr is `int|null`. This is somewhat better than the refs stuff we had before I think. :)

[2015-07-01 00:10] joecohens commented on #381
Thanks :)

[2015-07-01 09:32] #339 closed

[2015-07-01 09:34] #278 closed

[2015-07-01 09:43] GrahamCampbell commented on #248
Ok, this is how I want to do it:

Code | Status
-----|-------
0    | Pending
1    | Running
2    | Passed
3    | Failed
4    | Configuration Issues
5    | Git Access Issues
6    | Analysis Timeout
7    | Other Internal Issues

Note that 0 and 1 are gray, 2 is green, and 3 or greater is red.

Also note that 4 or greater count as "errors" vs 3 which is a "failure".

[2015-07-01 09:43] GrahamCampbell commented on #248
Any feedback on this @joecohens, @jbrooksuk?

[2015-07-01 09:51] jbrooksuk commented on #248
Nothing immediately comes to mind.

[2015-07-01 12:02] GrahamCampbell opened #384 "Snake Case Usage"
I think we should consistently use snake case in our views for variable names and in our models for "properties" and in our model presenters. We already partially do this, but it's inconsistent.

[2015-07-01 12:02] GrahamCampbell opened #385 "Property Annotations On Our Models"
We need these. :)

[2015-07-01 12:10] #304 closed

[2015-07-01 12:11] #326 closed

[2015-07-01 12:11] #120 closed

[2015-07-01 12:12] #293 closed

[2015-07-01 12:14] #268 closed

[2015-07-01 12:14] #246 closed

[2015-07-01 12:15] #226 closed

[2015-07-01 12:15] #150 closed

[2015-07-01 12:17] #94 closed

[2015-07-01 12:20] GrahamCampbell opened #386 "More Resistence Against Account Deletion"
We need some sort of in browser confirmation.

[2015-07-01 12:21] #242 closed

[2015-07-01 12:24] #275 closed

[2015-07-01 13:43] #385 closed

[2015-07-01 13:47] GrahamCampbell opened #388 "Notify Collaberators Service Needed"
This will allow us to remove duplicate code from our event handlers and remove the user repository class.

[2015-07-01 14:02] GrahamCampbell opened #389 "Don't Analyse PRs From The Origin Repo"
If we do this, we get double analyses since we're already analysing the original push.

[2015-07-01 14:04] #248 closed

[2015-07-01 14:12] GrahamCampbell commented on #384
Done. :)

[2015-07-01 14:12] #384 closed

[2015-07-01 14:16] #286 closed

[2015-07-01 16:22] #199 closed

[2015-07-01 17:13] GrahamCampbell opened #392 "Get Branch Analysis To Actually Work"

[2015-07-01 17:13] GrahamCampbell commented on #392
Currently we're at:

[code]

[2015-07-01 17:13] GrahamCampbell opened #393 "Get Commit Analysis To Actually Work"

[2015-07-01 17:13] GrahamCampbell opened #394 "Get PR Analysis To Actually Work"

[2015-07-01 17:50] GrahamCampbell commented on #392
Ok. Fixed that. Now this...

[code]

[2015-07-01 18:20] GrahamCampbell commented on #392
Works now. :)

[2015-07-01 18:20] #392 closed

[2015-07-01 18:21] GrahamCampbell opened #395 "Diffs Arn't Visible On Analyses Pages"
:(

[2015-07-01 18:21] GrahamCampbell commented on #395
Diff downloads are also broken. :/

[2015-07-01 18:40] #395 closed

[2015-07-01 20:29] GrahamCampbell opened #396 "Hide Analysis Ids With Hash Ids"

[2015-07-01 21:44] joecohens commented on #248
It feels good to me :)

[2015-07-01 21:49] GrahamCampbell opened #397 "Pusher Updates Broken"
Updates aren't showing up in realtime anymore when looking at the list of analyses for a repo. :(

[2015-07-01 21:50] GrahamCampbell commented on #397
I assume this is an issue with the js. I'm going to just check the server is firing the events correctly. To the pusher debug console!

[2015-07-01 21:50] joecohens commented on #397
Let me know!

[2015-07-01 21:51] GrahamCampbell commented on #397
ffs - just run the reset command instead of the queue work command...

[2015-07-01 21:52] GrahamCampbell commented on #397
https://i.starbs.net/0k0R

[2015-07-01 21:52] GrahamCampbell commented on #397
events went out fine. Must be the js.

[2015-07-01 21:52] GrahamCampbell commented on #397
PENDING -> RUNNING -> FAILED

[2015-07-01 21:53] GrahamCampbell commented on #397
2 events for each. repos- and ch-.

[2015-07-01 21:54] joecohens commented on #397
Taking a look

[2015-07-01 21:54] GrahamCampbell commented on #397
:)

[2015-07-01 21:54] GrahamCampbell commented on #397
Colors are still broken too atm.

[2015-07-01 21:54] GrahamCampbell commented on #397
lol - you've got me spelling it like that too now. :)

[2015-07-01 21:55] joecohens commented on #397
lololololo

[2015-07-01 22:05] GrahamCampbell commented on #373
There's probably a better way of doing this. Just check the age of the folder again just before removing it.

[2015-07-01 22:35] #393 closed

[2015-07-01 22:35] GrahamCampbell commented on #393
Working. :)

[2015-07-02 06:54] vinkla commented on #397
Is it due to the new Pusher package update?

[2015-07-02 07:38] jbrooksuk commented on #397
I was about to mention that we have updated the Pusher package, so it's worth checking that?

[2015-07-02 08:21] GrahamCampbell commented on #397
No, it's not. As I already said, the php part of the app is working just fine.

[2015-07-02 08:21] #397 closed

[2015-07-02 08:21] #394 closed

[2015-07-02 08:21] GrahamCampbell commented on #394
Fixed.

[2015-07-02 08:35] GrahamCampbell commented on #380
Fixed.

[2015-07-02 08:35] #380 closed

[2015-07-02 08:37] GrahamCampbell opened #399 "Pusher Updates Sttill Not Showing Correctly"
If I'm looking at a repo, after analysing it, the results don't show in the browser automatically. This is also true when looking at the actual analysis too.

[2015-07-02 09:00] GrahamCampbell opened #400 "New Status Codes Again..."
We need a syntax error status code. I propose we make this `4`, and sift the others after it along by one.

0->1 are pending codes
2 is a passing code
3 and 4 are now failed codes
and 5->8 are errored codes

[2015-07-02 09:01] GrahamCampbell commented on #400
I think we maybe need yet another status code in the error set for php-cs-fixer errors while fixing files.

[2015-07-02 09:14] GrahamCampbell opened #401 "Deal With Syntax Errors In Files"

[2015-07-02 09:19] GrahamCampbell commented on #400
Had another think...

[2015-07-02 09:23] GrahamCampbell commented on #400
Code | Status | State | Diff
-----|-------|------ |----
0    | Pending | PENDING | No
1    | Running | RUNNING | No
2    | Passed | PASSED | No
3    | CS Issues | FAILED | Yes
4 | Syntax Issues | FAILED | No
5 | Both CS And Syntax | FAILED | Yes
6    | Configuration Issues | ERRORED | No
7   | Git Access Issues | ERRORED | No
8  | Analysis Timeout | ERRORED | No
9   | Other Internal Issues | ERROR

[2015-07-02 09:25] jbrooksuk commented on #400
Yeah this is good to me.

[2015-07-02 18:22] joecohens commented on #400
:+1:

[2015-07-02 20:58] #96 closed

[2015-07-02 20:58] #400 closed

[2015-07-02 20:58] #401 closed

[2015-07-02 21:57] GrahamCampbell commented on #399
@joecohens Are you able to take a look at this? Also, colors don't seem to be working correctly again. :(

[2015-07-03 00:11] #388 closed

[2015-07-03 00:12] GrahamCampbell commented on #388
Tried this out. I think it makes the code worse tbh, lol.

[2015-07-03 00:42] #389 closed

[2015-07-03 00:43] GrahamCampbell commented on #389
Turns out we were already doing this on 0.4. I forgot I copied the code over from 0.3.

[2015-07-03 00:43] GrahamCampbell commented on #389
I have made some improvements though. Closing and reopening should now force a re-analysis, regardless of if the PR is coming from the origin repo.

[2015-07-03 11:24] GrahamCampbell commented on #399
Re-asigning this to me. :)

[2015-07-03 11:29] #396 closed

[2015-07-03 11:29] #399 closed

[2015-07-03 11:56] GrahamCampbell commented on #310
Re-asigning this to me. I plan to get this done today. :)

[2015-07-03 11:57] GrahamCampbell opened #405 "Don't Show "No XYZ" While Loading"
While loading the list of repos and analyses, we should actually say loading instead of nothing found.

[2015-07-03 13:45] #310 closed

[2015-07-03 13:45] GrahamCampbell opened #406 "Broken Diff Hilighting"

[2015-07-03 13:46] GrahamCampbell opened #407 "Diff Download Links Need To Show Without Refresh"

[2015-07-03 17:54] GrahamCampbell opened #409 "We Need Some Functional Tests"
TODO:

* [ ] Check login works
* [ ] Check logout works
* [ ] Check all the pages display without an error for non-logged in users
* [ ] Check all the pages display without an error for logged in users
* [ ] Check non-logged in users can't perform protected operations

Note, things not covered here are checking that analyses work for example. I don't think those sorts of tests are critical right n

[2015-07-03 17:56] GrahamCampbell commented on #409
NB, not sure how we test "login with github". @jbrooksuk or @joecohens. Have you ever done anything like that before?

[2015-07-03 18:03] jbrooksuk commented on #409
I've not tested that kind of login, no. I'm not sure on how you'd do it either, since it's a redirect away.

[2015-07-03 18:03] jbrooksuk commented on #409
I guess you could mock a login?

[2015-07-03 18:10] GrahamCampbell commented on #409
I want to avoid mocking really. I want to test it actually works. Hmmm.

[2015-07-03 18:25] GrahamCampbell opened #410 "Validation In Commands"

[2015-07-03 18:28] GrahamCampbell commented on #410
Just thinking about how we can do this. It's maybe worth changing all our code to technically be synchronous instead of asynchronous and then have a validation middleware and other goodies, and then get those commands once handled to then queue the real deal.

[2015-07-03 18:29] GrahamCampbell commented on #410
Maybe we should call the async commands "Jobs" like laravel 5.1 does.

[2015-07-03 18:31] GrahamCampbell commented on #410
Infact, I like this a lot. Going to implement this later today. :)

[2015-07-04 00:03] GrahamCampbell commented on #410
Done.

[2015-07-04 00:03] #410 closed

[2015-07-04 00:04] GrahamCampbell opened #412 "Validation In Models"
In addition to having validation in our commands, we need validation in our models too to be on the safe side.

[2015-07-04 09:13] GrahamCampbell commented on #412
Done.

[2015-07-04 09:13] #412 closed

[2015-07-04 10:00] #407 closed

[2015-07-04 11:21] #405 closed

[2015-07-04 11:21] #284 closed

[2015-07-04 11:22] GrahamCampbell commented on #284
Decided this would be a waste of effort really.

[2015-07-04 11:23] GrahamCampbell opened #413 "Repo List No Analyses Message Broken"
When there have been no analyses, the error message isn't displaying the default branch name correctly.

[2015-07-04 11:23] GrahamCampbell opened #414 "Repo List Status Broken"
Status changes to the latest analysis of a repo aren't showing up correctly.

[2015-07-04 13:44] #413 closed

[2015-07-04 13:44] #414 closed

[2015-07-04 13:46] #206 closed

[2015-07-04 13:46] GrahamCampbell commented on #206
Nah.

[2015-07-04 13:48] #373 closed

[2015-07-04 13:49] GrahamCampbell commented on #373
Got a better idea. We'll just get the cleanup command to put the app into maintenance mode.

[2015-07-05 09:46] flaiker opened #415 "Contact email delivery failure"
I just tried to use the contact email on the bottom right of the website ( support@alt-three.com ) but I get this as an answer:
[code]

[2015-07-05 09:49] GrahamCampbell commented on #415
Thanks for letting us know, we'll look into it. In the meanwhile, you can reach me at graham@alt-three.com.

[2015-07-05 09:56] jbrooksuk commented on #415
You should now be able to contact support@alt-three.com now :)

[2015-07-05 09:56] #415 closed

[2015-07-05 09:58] flaiker commented on #415
You sure are fast! Thanks

[2015-07-05 21:29] #409 closed

[2015-07-05 21:29] GrahamCampbell commented on #409
Going to break this up.

[2015-07-05 21:31] GrahamCampbell opened #416 "Add Model Tests"
Here we should check that bad data cannot pass our validation process provided by our validating model observer.

[2015-07-05 21:32] GrahamCampbell opened #417 "Add Command Tests"
We should check that commands that do not pass our validation process provided by our validating command middleware are not executed.

[2015-07-05 21:33] GrahamCampbell opened #418 "Very Basic Web Tests"
We should check all our pages load and look right. These tests will not include anything that requires database seeding and the like, but are better than no tests.

[2015-07-05 22:05] #203 closed

[2015-07-05 22:05] GrahamCampbell commented on #203
Meh.

[2015-07-05 22:35] GrahamCampbell commented on #244
Done as of https://github.com/StyleCI/Config/commit/5421c055edd77071d099a1a33fe242b797cb6171.

[2015-07-05 22:35] #244 closed

[2015-07-05 22:35] #204 closed

[2015-07-05 22:38] #386 closed

[2015-07-05 22:38] GrahamCampbell commented on #386
Seems we already do.

[2015-07-06 16:09] GrahamCampbell opened #419 "Add More Service Provider Tests"

[2015-07-06 16:25] #419 closed

[2015-07-07 17:44] GrahamCampbell opened #420 "Make Sure There Can't Be Duplicate Fixer Entries"

[2015-07-07 18:08] #420 closed

[2015-07-07 18:08] GrahamCampbell commented on #420
Oh, we already do...

[2015-07-08 21:06] #406 closed

[2015-07-08 21:06] GrahamCampbell commented on #406
Fixed! :rocket:

[2015-07-08 21:41] #381 closed

[2015-07-08 21:52] GrahamCampbell opened #425 "Cache Branches"
TODO:
* [ ] Send out an ajax request to populate the branch list (asigned to @joecohens)
* [ ] Cache the branches (asigned to @GrahamCampbell)
* [ ] Listen for branch webhooks so we can flush our cache (asigned to @GrahamCampbell)

[2015-07-08 21:59] GrahamCampbell opened #426 "Listen For "Member" And "Team add" Hooks"
We need to flush our colloborator cache here.

[2015-07-08 22:00] GrahamCampbell commented on #245
Note to self. Webhooks!

[2015-07-08 22:01] GrahamCampbell opened #427 "Convert GitHub Webhooks Into Events"
I think it would cleanup our code if we actually converted github's webhooks into our own events and fired them, then had handlers for them.

[2015-07-08 22:03] GrahamCampbell commented on #425
We also need to delete analyses caches of branches that are deleted from github.

[2015-07-08 22:03] GrahamCampbell opened #428 "Delete PR Analysis Cache When It's Merged"

[2015-07-08 22:08] GrahamCampbell opened #429 "Send out an ajax request to populate the branch list"

[2015-07-08 22:08] GrahamCampbell commented on #425
Going to split this into multiple issues...

[2015-07-08 22:08] #425 closed

[2015-07-08 22:08] GrahamCampbell opened #430 "Cache the branches"

[2015-07-08 22:09] joecohens commented on #425
lol

[2015-07-08 22:09] GrahamCampbell opened #431 "Listen for branch webhooks so we can flush our cache"

[2015-07-08 22:09] GrahamCampbell opened #432 "Delete Branch Analysis Cache When It's Deleted"

[2015-07-08 22:22] #430 closed

[2015-07-08 22:48] #375 closed

[2015-07-08 23:08] #429 closed

[2015-07-09 00:21] GrahamCampbell opened #437 "Rebase Our PHP-CS-FIXER Fork"
I'll get our fork upgraded soon. :)

[2015-07-09 09:15] GrahamCampbell opened #438 "Don't Send Cookies To GitHub"
We shouldn't be sending cookies and starting a session for github's webhook bot...

[2015-07-09 09:18] GrahamCampbell opened #439 "Replace Homepage With Repos List"

[2015-07-09 09:36] jbrooksuk commented on #439
When logged in*

[2015-07-09 09:37] GrahamCampbell commented on #439
Yeh, lol.

[2015-07-09 10:30] #426 closed

[2015-07-09 10:30] #427 closed

[2015-07-09 10:30] #431 closed

[2015-07-09 10:33] GrahamCampbell commented on #437
Done. :)

[2015-07-09 10:33] #437 closed

[2015-07-10 16:49] #438 closed

[2015-07-10 20:30] #439 closed

[2015-07-10 21:25] GrahamCampbell opened #441 "Ditch "Show Analyses" On Account"

[2015-07-11 01:11] GrahamCampbell opened #444 "First Login Go To Account Page"

[2015-07-11 01:11] GrahamCampbell commented on #444
Maybe just all logins where there are no repos enabled?

[2015-07-11 10:06] GrahamCampbell commented on #441
Done.

[2015-07-11 10:06] #441 closed

[2015-07-11 10:15] #444 closed

[2015-07-11 10:26] GrahamCampbell opened #449 "Fix Logos"
The "CI" needs converting to be an outline, and in the white text logo, the corners of the red box need to be rounded.

[2015-07-11 11:13] GrahamCampbell opened #450 "Issue With Usage For New Users"
Ok, so a user signs up and ends up on the account page. They then think, oh, this looks nice, and enable their repos. Then, they are unsure how to actually view the repo analyes, or even, if that is even a thing. We need to make sure users know about `/repos` and can easily get there.

[2015-07-11 12:40] GrahamCampbell opened #451 "Easy Routes To GitHub"
We need a github icon next to the repo name on the repo page like scrutinizer have so people can easily get to github from there.

[2015-07-11 12:40] GrahamCampbell opened #452 "Easy Routes Back To Repo From Analysis"
When looking at an analysis, we need an easy way to get back to the analysis list for that repo.

[2015-07-11 12:53] GrahamCampbell commented on #449
Also, the rounding on the left on the main logo is missing.

Comparison: https://i.starbs.net/9kZ8.

[2015-07-11 12:54] GrahamCampbell commented on #449
On closer inspection, it is actually rounded. We need to check all the rounding is the same everywhere then.

[2015-07-11 12:55] GrahamCampbell commented on #449
Can we make the rounding ever so slightly larger in all cases?

[2015-07-11 14:37] GrahamCampbell opened #453 "Replace All PNGs With SVGs"

[2015-07-11 14:48] GrahamCampbell opened #454 "GitHub Refresh Webhooks"
We need to allow the user to re-add their webhooks if they accidently removed them on github.

[2015-07-11 14:58] jbrooksuk commented on #451
Do we want to show the GitHub link on the repos page too?

[2015-07-11 15:12] #451 closed

[2015-07-11 17:27] GrahamCampbell opened #457 "Make Presenter Methods Protected"

[2015-07-11 17:53] #457 closed

[2015-07-11 18:53] jbrooksuk commented on #449
Rounding was 8, it's now 12.

[2015-07-11 19:37] #449 closed

[2015-07-11 19:38] GrahamCampbell commented on #449
Going with flat images, and fixed the rest.

[2015-07-12 09:51] #453 closed

[2015-07-12 09:51] #452 closed

[2015-07-12 11:30] GrahamCampbell commented on #450
Ok, so now the actual homepage is the repos list, and `/repos` has gone.

[2015-07-12 11:31] GrahamCampbell commented on #450
Still not enough though imo.

[2015-07-12 18:31] jbrooksuk commented on #450
I prefer this behavior. It's unlikely you'll want to get back to the homepage once logged in.

[2015-07-12 18:34] GrahamCampbell commented on #450
Yeh. ;)

[2015-07-13 11:28] #454 closed

[2015-07-13 11:41] #170 closed

[2015-07-13 11:41] GrahamCampbell commented on #170
Meh, don't really like this.

[2015-07-13 13:32] GrahamCampbell opened #464 "Add Model Relations Tests"

[2015-07-13 13:42] #416 closed

[2015-07-13 16:26] GrahamCampbell opened #467 "Rename GitHub Webhook Events"

[2015-07-13 16:26] GrahamCampbell opened #468 "Organize Views"

[2015-07-13 16:30] #468 closed

[2015-07-13 17:28] #467 closed

[2015-07-13 17:28] GrahamCampbell commented on #467
Been playing with this, and how it is now is probably fine.

[2015-07-14 10:56] GrahamCampbell commented on #450
Fixed.

[2015-07-14 10:56] #450 closed

[2015-07-15 17:33] GrahamCampbell commented on #245
We'll just delete bad repos.

[2015-07-16 10:30] webmozart opened #471 "Support Multiple Path Passes"
At the moment, StyleCI always runs PHP-CS-Fixer in the project's root directory. This is problematic when a project contains multiple mapped PSR-4 roots, for example:

[code]

Since the directory "tests" is different from the namespace "Tests", PHP-CS-Fixer lowercases the namespace to match the directory name:

[code]

Result:

[code]

This is correct when assuming PSR-0, but not for PSR-4.

The w

[2015-07-16 10:38] #471 closed

[2015-07-16 10:38] GrahamCampbell commented on #471
Just add `exclude: tests` in the `finder` config.

[2015-07-16 10:39] GrahamCampbell commented on #471
Yeh, that's fine, you can disable it.

[2015-07-16 10:39] webmozart commented on #471
Why? I don't want to exclude them.

[2015-07-16 10:39] GrahamCampbell commented on #471
I'm planning on writing a PSR-4 fixer, so that should do what you want. :)

[2015-07-16 10:39] GrahamCampbell commented on #471
In the meanwhile, I recommend disabling the psr0 fixer.

[2015-07-16 10:39] webmozart commented on #471
Ok :) Thanks!

[2015-07-16 10:40] GrahamCampbell commented on #471
[code]

[2015-07-16 10:40] GrahamCampbell commented on #471
That can go in your `.styleci.yml` file. ^^^

[2015-07-16 14:55] GrahamCampbell opened #472 "Share Analysis Cache Between Workers"

[2015-07-16 14:56] GrahamCampbell commented on #472
We need to re-think this whole cache system. I've got a few ideas.

[2015-07-16 14:56] GrahamCampbell commented on #472
Going to work on something now actually. :)

[2015-07-16 21:55] GrahamCampbell commented on #472
Done. :)

[2015-07-16 21:55] #472 closed

[2015-07-16 21:57] GrahamCampbell opened #473 "Diffs Not Rendering Correctly Still"
Even after the promise change, things are still broken.

[2015-07-16 23:07] #428 closed

[2015-07-16 23:07] #432 closed

[2015-07-17 13:28] GrahamCampbell opened #475 "Better Internal Error Emails"
Our current internal error emails suggest an incorrect reason for failure.

[2015-07-17 13:37] #475 closed

[2015-07-17 13:37] GrahamCampbell opened #476 "State Change Emails"
We should notify people when a branch changes status like travis does.

[2015-07-17 14:04] #476 closed

[2015-07-17 16:28] GrahamCampbell opened #477 "Mark Analyses As Hidden When A Branch Is Deleted"

[2015-07-17 17:27] GrahamCampbell commented on #477
We're going to run into problems with pull requests from origin to origin here though. :(

[2015-07-17 17:29] GrahamCampbell commented on #477
Maybe we should mark analyses as hidden instead of deleting them. That way we can correctly calculate if we should send a "first run" email.

[2015-07-17 20:12] #473 closed

[2015-07-17 21:05] GrahamCampbell opened #479 "Use private pusher channels"

[2015-07-17 21:05] #477 closed

[2015-07-17 22:22] GrahamCampbell commented on #359
Looks totally fine to me:

![image](https://cloud.githubusercontent.com/assets/11048387/8758332/ac69deae-2cda-11e5-98b1-0e4f8b667f1e.png)

[2015-07-17 22:22] #359 closed

[2015-07-18 00:10] GrahamCampbell opened #480 "More info passed to github status"
It would be cool to say to say how many files contained errors.

[2015-07-18 06:42] jbrooksuk commented on #480
:+1:

[2015-07-18 16:29] GrahamCampbell opened #481 "Upgrade To Elixir 3.0"

[2015-07-18 16:38] GrahamCampbell opened #482 "Attempt To Log Users In On 401 And Return"
It's annoying if you follow the status link on a private repo and end up with a 401 page.

[2015-07-18 17:39] #480 closed

[2015-07-18 17:39] #482 closed

[2015-07-18 22:58] #417 closed

[2015-07-18 22:59] GrahamCampbell opened #485 "Add Event Tests"

[2015-07-19 12:31] #245 closed

[2015-07-19 12:32] GrahamCampbell commented on #245
Decided we'll just manually intervene when ever situations like this occur.

[2015-07-19 13:41] GrahamCampbell commented on #485
Done.

[2015-07-19 13:41] #485 closed

[2015-07-19 18:54] GrahamCampbell opened #487 "Login On 401 Needs Reverting"
It doesn't work due to session issues.

[2015-07-19 19:03] GrahamCampbell opened #490 "We need to allow users to login from 401 error pages"

[2015-07-19 19:08] #487 closed

[2015-07-19 19:58] #490 closed

[2015-07-19 20:38] #479 closed

[2015-07-19 20:47] GrahamCampbell opened #491 "Implement etag caching"
### SERVER

All responses on our api routes that were the result of a get request should use etags for caching.

### CLIENT

We need to use etags in our js to determine if we need to update the dom for changes, etc (this will probably be indirectly through vue, but same end result).

[2015-07-19 20:48] GrahamCampbell opened #492 "Make sure we don't miss events"
1. We need to hit our servers again immediately following a successful connection to pusher to check if we've missed any events.
2. We need to implement polling to our server if we couldn't connect to pusher, and we need to re-entry connecting to pusher every 30 seconds or something, and abort polling the server if we successfully connected to pusher
3. We need to watch out if we disconnect from p

[2015-07-19 20:49] GrahamCampbell commented on #491
I'll deal with the server side stuff shortly.

[2015-07-20 10:00] #491 closed

[2015-07-20 10:01] GrahamCampbell commented on #491
Cancelling this as we can't allow it for security reasons. We cannot allow browsers to cache private data.

[2015-07-20 14:06] GrahamCampbell opened #493 "Implement a way to check access tokens still work"
Marked as 1.0.0, but I'm actually going to backport this to 0.3.x too.

[2015-07-20 19:54] ArjanSchouten opened #494 "Add notification options for projects"
Currently mailboxes are exploding by the emails people will get when a team is working on a project frequently. It should be nice if a notification center is available in the future! Are there any plans for that?

[2015-07-20 19:58] GrahamCampbell commented on #494
Yeh, there are. It's on our internal roadmap. :)

[2015-07-20 19:58] #494 closed

[2015-07-20 19:59] GrahamCampbell commented on #494
I'll let you know when we ship this. :)

[2015-07-20 20:00] ArjanSchouten commented on #494
:+1: was just curious :smiley:

[2015-07-20 20:00] ArjanSchouten commented on #494
Was trying it and noticed this.

[2015-07-20 22:53] GrahamCampbell opened #495 "Write Tests For The Two Job Classes"

[2015-07-20 22:53] GrahamCampbell opened #496 "Write Presenter Tests"

[2015-07-20 23:08] GrahamCampbell opened #497 "Remove Hacky JS"
The `if (response.toString().indexOf('changed files') >= 0) {` hack needs replacing with something better.

[2015-07-20 23:09] GrahamCampbell opened #498 "Status Updates On Repo List Need Fixing"
For some reason we can't update the arrays in place in the js and have the status update so we have to fetch everything again as a work around. This needs addressing.

[2015-07-20 23:18] GrahamCampbell opened #499 "Remove "_path" From Routes"

[2015-07-21 00:10] #499 closed

[2015-07-21 11:25] GrahamCampbell opened #500 "Implement orphaned repo checks"
We need to check for two things:

1. The repo is still associated with a user that exists on our system
2. The repo still exists on github

[2015-07-21 13:15] #493 closed

[2015-07-21 16:17] #500 closed

[2015-07-21 16:17] GrahamCampbell commented on #500
Done.

[2015-07-21 16:47] #497 closed

[2015-07-21 16:47] #498 closed

[2015-07-21 18:45] GrahamCampbell opened #506 "Restore the ability to use circle style icons"

[2015-07-21 19:00] #506 closed

[2015-07-22 23:32] #492 closed

[2015-07-22 23:32] GrahamCampbell commented on #492
CBA with this tbh.

[2015-07-23 17:40] GrahamCampbell commented on #495
Done.

[2015-07-23 17:40] #495 closed

[2015-07-23 19:33] GrahamCampbell opened #510 "Test our GitHub classes"

[2015-07-23 19:37] GrahamCampbell commented on #510
Decided just to test the client factory class. The others are quite meaty.

[2015-07-23 19:37] #510 closed

[2015-07-23 23:45] GrahamCampbell opened #511 "External Links"
All external links should open in a new tab.

[2015-07-24 00:49] #511 closed

[2015-07-24 00:50] GrahamCampbell commented on #511
Done.

[2015-07-24 16:15] jbrooksuk opened #513 "Add an email pre-header"

[2015-07-24 16:53] GrahamCampbell commented on #513
?

[2015-07-24 16:58] jbrooksuk commented on #513
It's basically a bit of info text explaining the email, we'll just put the same text in, but it's picked up as a pre-line after the subject.

[2015-07-25 15:11] #513 closed

[2015-07-25 16:43] GrahamCampbell opened #514 "Remove UserReport"

[2015-07-25 18:10] #481 closed

[2015-07-25 18:52] #514 closed

[2015-07-25 18:52] GrahamCampbell commented on #514
Done.

[2015-07-25 18:54] jbrooksuk commented on #514
:+1:

[2015-07-25 20:10] GrahamCampbell opened #516 "Design Cleanup"
Remove `<br>`s that are everywhere...

[2015-07-26 16:13] GrahamCampbell opened #517 "Deal With Bad Emails"
We need to present something better on login if the user has no confirmed emails on their github account.

[2015-07-27 10:29] GrahamCampbell opened #519 "Garbage Collection And Checks"
The safest way to cleanup and gc is actually effeminately after running an analysis.

[2015-07-27 11:47] #519 closed

[2015-07-27 13:05] GrahamCampbell commented on #517
Fixed.

[2015-07-27 13:05] #517 closed

[2015-07-27 14:25] GrahamCampbell opened #521 "Repo Page Performance"
Requests to load accounts with 100 repos on can take 2.5 seconds to load repos. This is unacceptably slow. A solution is to instead of iterating over ever repo and calling last_completed, is instead we send a single query, then set the relation on all the models.

Note that we can't use eager loading here because last_completed relies on reading the default branch of the repo.

[2015-07-28 11:37] ffsantos92 opened #522 "Items of the @property tag should be aligned vertically"
I'm using the fixer:
 * phpdoc_align (all items of the `@param`, `@throws`, `@return`, `@var`, and `@type` phpdoc tags must be aligned vertically).

But why not include also all items of the `@property` tag?

I [saw](https://github.com/StyleCI/StyleCI/blob/master/app/Presenters/AnalysisPresenter.php) that you are using this "rule".

[2015-07-28 11:49] ffsantos92 opened #523 "[Docs] Fix url"
Page: [I'm not receiving notification emails](https://styleci.readme.io/docs/im-not-receiving-notification-emails)

https://dev.styleci.io/account#profile should be replaced with https://styleci.io/account#profile

[2015-07-28 11:57] GrahamCampbell commented on #523
Oh wow. Thank you so much for reporting. I'll fix this right away! :)

[2015-07-28 11:57] #523 closed

[2015-07-28 11:58] GrahamCampbell commented on #522
I can probably add this, yeh. Leave it with me.

[2015-07-29 17:10] GrahamCampbell opened #525 "Weekly report of new repos and new users"
We need to have this emailed to us.

[2015-07-29 19:59] jbrooksuk commented on #525
Stripe is half this :)

[2015-07-29 23:02] #525 closed

[2015-07-29 23:03] GrahamCampbell opened #526 "Dodgie Diff Rendering On Analysis Pages"
Somtimes the first line has crazy indentation. Also, the gap between two parts of a file is a bit odd.

[2015-07-29 23:04] GrahamCampbell commented on #526
Ping @joecohens.

[2015-07-29 23:12] GrahamCampbell opened #527 "Shield Hosting"
It would be better for us to serve the shields rather than redirecting.

[2015-07-31 01:30] ovr opened #528 "Implement GItHub login without All Permision"
Hey!

For first login, you need only this:
Personal user data (Email addresses (read-only))
Repositories (Public only)
Organizations and teams (Read-only access)

You need to ask it soon:
Repository webhooks and services (Admin access)

Thanks

[2015-07-31 01:31] ovr opened #529 "Where is db dump?"
Hey!
Where is db dump?
Or it's possible to load from models?
Meow:3
Thanks

[2015-07-31 08:29] GrahamCampbell commented on #528
On first login we need all those permissions, sorry. On very first login, we actually ask for no permissions so we can check if we need to ask for `repo` or `public_repo`, then we go back to github and ask for the correct scopes.

[2015-07-31 08:29] #528 closed

[2015-07-31 08:29] GrahamCampbell commented on #529
Not quite sure what you mean?

[2015-07-31 10:22] ovr commented on #529
I mean `how to bootstrap scheme`

[2015-07-31 10:32] GrahamCampbell commented on #529
`php artisan app:install`. This repo isn't designed for self hosting though, just to note, and doesn't support private repos.

[2015-07-31 10:32] #529 closed

[2015-07-31 10:39] GrahamCampbell opened #530 "Super User"
We need a concept of super users so admins can edit other people's config from the web instead of cli.

[2015-07-31 12:58] #530 closed

[2015-07-31 16:15] GrahamCampbell opened #531 "JS 403 Response"
When handling a 403, saying the session has expired is not correct. 403 really does mean "sorry, no".

[2015-07-31 17:42] #526 closed

[2015-07-31 17:42] GrahamCampbell commented on #526
Fixed.

[2015-07-31 19:49] joecohens commented on #526
:beers:

[2015-08-01 12:20] #531 closed

[2015-08-01 12:22] GrahamCampbell commented on #527
Meh, not worth it.

[2015-08-02 17:03] tigitz opened #532 "Multiple use statements alignment fails"
Hello,

Just checked the new PR fix feature (which is cool :) ) on a dummy fork and might have encountered a bug on the alignment of use statements with the default config.

You can see it here:
https://github.com/tigitz/DoctrineProfileExtraBundle/commit/8a8972794d823a9c56081068ab5581fb5239fb61#diff-0e350a78dbd9c71366823f77e689fe30

[2015-08-02 17:05] jbrooksuk commented on #532
PHP-CS-Fixer struggles when your code is indented one tab stop below `<?php`

Unindent everything and try again.

[2015-08-02 19:39] tigitz commented on #532
Alright, I've unindented everything and it worked as intended but what's funny is that the Style CI PR fix still fails the Style CI analysis (same config). Looks like it's a matter of space after an array declaration:
https://github.com/tigitz/DoctrineProfileExtraBundle/pull/4

Also, I've tried to unindent everything except the use statements to see how it behaves.

https://github.com/tigitz/Doctr

[2015-08-02 20:02] jbrooksuk commented on #532
From my understanding (and I may be wrong here) two fixers are competing against each other. This happens some times but can be fixed by applying the patch files.

[2015-08-02 20:02] #532 closed

[2015-08-02 20:36] GrahamCampbell commented on #532
Sometimes you have to fix really bad code yourself. We currently don't deal with bad indentation very well. Sorry. It is something we're looking to improve on.

[2015-08-02 21:35] tigitz commented on #532
@jbrooksuk alright thanks. Since you closed the issue I'm wondering if you plan to fix this fixers competition since it appears on the default config or consider the multiple PR a viable solution for now?

@GrahamCampbell Alright. Even though I don't share your conception of 4 incorrectly indented use statements being "really bad code" that was just a proof of concept on a random forked project to

[2015-08-02 22:01] GrahamCampbell commented on #532
As I said, we don't fix indentation well, so that code's probably not a good example to use.

[2015-08-03 07:07] xiphiaz opened #533 "Email recipient is not the git committer"
With my organisations repository https://github.com/spira/spira there are a few developers working on the project, but I seem to be the only one getting the pass/fail emails. (Probably because I linked the account)

I actually don't want to get any of their notifications, cos I don't actually care - they're going to be the ones to fix them anyway.

Ideally email notifications should mirror the beh

[2015-08-03 08:49] trizz commented on #533
Same problem at my organisation. Our most ideal solution would be a per user and per repo setting if you want to receive the mails or not.

I, for example, don't want to receive any mails from StyleCI. I'll look into the commit/pr to see if the analysis failed or not. I don't like it when I open my mailbox at the end of the day only to find a lot of StyleCI messages.

[2015-08-03 09:10] GrahamCampbell commented on #533
Not a bug. We only send emails to people who have a styleci account.

[2015-08-03 09:10] #533 closed

[2015-08-03 09:11] GrahamCampbell commented on #533
We are working on making notifications  more configurable though.

[2015-08-03 09:12] xiphiaz commented on #533
@GrahamCampbell how do you envisage this working for bigger organisations that have one account that establishes the link, and many committers causing StyleCI failures?

[2015-08-03 09:14] GrahamCampbell commented on #533
We're not allowed to send emails to people without a styleci account because they haven't agreed to our terms.

[2015-08-03 09:14] GrahamCampbell commented on #533
As I said, improvements are on their way. :)

[2015-08-03 09:18] xiphiaz commented on #533
Yes understood, that's pretty much what I wanted to hear, as the multitude of emails that I'm getting from other committers is getting annoying.

This is fair, but I wonder how TravisCI gets around that? Maybe you have to have a linked account with them. Docs for ref. http://docs.travis-ci.com/user/notifications/#Notifications

[2015-08-03 09:32] GrahamCampbell commented on #533
We're just being over safe. We don't have a legal team like Travis.

[2015-08-03 09:50] GrahamCampbell commented on #533
I'm still pretty sure you have to have a travis account though.

[2015-08-05 20:32] ffsantos92 opened #534 "Wrong indentation"
[code]

Should be:
[code]

The problem is in the item() function (and also in its docblock) because the indentation have 5 spaces instead of 4.

[2015-08-05 20:41] jbrooksuk commented on #534
Is this an issue on your own project and StyleCI is unable to fix it?

[2015-08-05 20:47] ffsantos92 commented on #534
@jbrooksuk, right! Unable to fix/detect. I found this issue in a [scrutinizer](https://scrutinizer-ci.com)'s inspection related with the code style.

[2015-08-06 06:05] jbrooksuk commented on #534
If you run an analysis again, does it fix it? Whitespace is always hard to fix.

[2015-08-06 12:37] ffsantos92 commented on #534
@jbrooksuk Nop.

[2015-08-06 17:10] #534 closed

[2015-08-06 17:10] GrahamCampbell commented on #534
Likely you're using the psr2 preset which doesn't fix everything.

[2015-08-06 19:10] ffsantos92 commented on #534
I'm using the recommended preset but looks like that `indentation` fixer fails to fix these issues.

I will open a new issue in the [PHP CS Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) repo.

[2015-08-06 19:23] GrahamCampbell commented on #534
Yeh, thanks. :)

[2015-08-09 16:35] GrahamCampbell commented on #527
Maybe it is.

[2015-08-09 16:38] #527 closed

[2015-08-13 15:38] jadjoubran opened #537 "Feature suggestion: Sort repos by number of stars"
If you think it's relevant, I'd be happy to provide a PR.

Url: https://styleci.io/account
Repos tab

Thanks!

[2015-08-13 15:39] GrahamCampbell commented on #537
Hmmmm. Interesting idea. Not sure how useful it would be though.

[2015-08-13 15:39] GrahamCampbell commented on #537
Would sorting by organization help you?

[2015-08-13 15:40] jbrooksuk commented on #537
Yeah, stars to me aren't useful. Organisation would definitely be though!

[2015-08-13 15:40] GrahamCampbell commented on #537
Also, protip, you can link to tabs on the account page like this: https://styleci.io/account#repos. :)

[2015-08-13 16:44] jadjoubran commented on #537
Oh awesome thanks!

Btw, I probably made a mistake in explain the idea.. I meant showing the repos by default sorted according to the number of stars..
That's because I'm used to see them with this particular order on my profile.

[2015-08-13 16:47] jbrooksuk commented on #537
@jadjoubran ordering by stars doesn't really help in most cases. Just think, @GrahamCampbell and I must have hundreds of repos each, so ordering by stars (which will change) isn't particularly useful.

[2015-08-13 16:47] jbrooksuk opened #538 "Sort repos by org"

[2015-08-13 16:47] jbrooksuk commented on #537
Closed in favour of https://github.com/StyleCI/StyleCI/issues/538

[2015-08-13 16:47] #537 closed

[2015-08-14 19:58] spl1nes opened #539 "Php7 scalar type hints"
Php7 scalar type hints cause the following error message:

e.g.

    public function xyz(int $a = 0, string $b = 'b') {}

[2015-08-14 20:04] GrahamCampbell commented on #539
Yeh, this is a known issue. For now, you can disable linting to fix this. We're planning to have a beta of php 7 support ready in a few weeks.

[2015-08-14 20:04] #539 closed

[2015-08-18 13:57] theofidry opened #540 "Multiple chain call and ternary operators"
As mentioned in php-fig/fig-standards#542, I like to use the following format:

[code]

But the configuration of StyleCI tells me to use this instead:

[code]

Is there a way to change that?

[2015-08-18 14:29] #540 closed

[2015-08-18 14:29] GrahamCampbell commented on #540
Yes. Turn off the fixer that does that. Please don't create GitHub issues for things like this.

[2015-08-18 14:30] GrahamCampbell commented on #540
https://styleci.readme.io/docs/fixers#multiline_spaces_before_semicolon

[2015-08-18 14:32] jbrooksuk commented on #540
If you need support, you can contact us at `support@alt-three.com` :+1:

[2015-08-18 14:34] #538 closed

[2015-08-18 14:34] GrahamCampbell commented on #538
Wrong repo.

[2015-08-31 12:02] lucasmichot opened #541 "Mail alerts"
The following settings could be provided for mail alerts (per profile / per repo settings ?):
- always
- only if test did not pass
- if test did not pass + when failure is resolved

[2015-08-31 12:32] #541 closed

[2015-08-31 12:32] GrahamCampbell commented on #541
This is already on our roadmap. Thanks anyway.

[2015-09-09 09:15] GrahamCampbell opened #542 "Upgrade To Vue 1.0"

[2015-09-09 09:16] GrahamCampbell opened #543 "Upgrade To Pusher JS 3.0"

[2015-09-09 09:19] jbrooksuk commented on #542
Vue is only at `0.12.13` currently.

[2015-09-09 09:20] GrahamCampbell commented on #542
Yeh, I know. I'm creating this for when 1.0.0 is out, since there are already alpha releases of it.

[2015-09-09 09:21] jbrooksuk commented on #542
Ah right, I see :) Didn't know they were that close, awesome!

[2015-09-10 15:57] #543 closed

[2015-09-10 16:40] #516 closed

[2015-09-12 11:01] GrahamCampbell commented on #521
Correction, we can lazy eager load. D'no why I didn't think of this before, lol.

[2015-09-12 11:04] #521 closed

[2015-09-12 12:35] GrahamCampbell commented on #521
Had to revert the fix because it doesn't work.

[2015-09-12 12:36] GrahamCampbell commented on #521
Marking this as a no fix.

[2015-09-25 17:07] #418 closed

[2015-09-29 07:01] webmozart opened #550 "Add import_global fixer"
Hi :)

I'd like to see a fixer that imports global classes automatically, e.g. fix:

[code]

to

[code]

Having that would be :heart:

[2015-09-29 07:08] webmozart commented on #471
This suddenly doesn't work anymore. What happened?

https://styleci.io/analyses/qx1DBz

[2015-09-29 16:07] GrahamCampbell commented on #471
Please see https://blog.alt-three.com/psr4-fixer/.

[2015-09-29 16:08] GrahamCampbell commented on #550
Could be dodgie if removing the slash caused conflicts with existing classes in the namespace, and for security reasons, we can't require files to check.

[2015-09-29 16:09] GrahamCampbell commented on #471
I also emailed everyone 2 weeks ago, and again this weekend to warn of this change. Did you not get those emails?

[2015-09-29 16:36] webmozart commented on #471
I did, however the error message was confusing and I did not realize it was related with those emails. Everything works now.

[2015-10-01 07:24] sstok commented on #550
You would have to 'guess' the file-name based on the PSR-0/4 autoloading and then parse the file to make sure it has the class. Will not work for files that don't follow PSR autoloading though.

[2015-10-01 07:26] webmozart commented on #550
That in combination with a cache that prevents parsing the same file twice could be a good solution.

[2015-10-01 07:36] GrahamCampbell commented on #550
Yeh, maybe. I'll look into implementing this when I have some time.

[2015-10-02 14:19] #550 closed

[2015-10-02 14:19] GrahamCampbell commented on #550
I've decided I'm not going to implement this personally, but feel free to ask the other guys over on php-cs-fixer to see what they make of this.

[2015-10-02 14:23] GrahamCampbell commented on #522
I've not forgotten about this. I will look at it soon. :)

[2015-10-12 08:56] sstok opened #555 "Allow header to be configured using configuration file"
It's currently only possible to configure the file-header using the web-interface, but if you want to bootstrap a repository using a generator you still need to go to the web interface to change the header.

Also, if you use the same header for multiple repositories and decide to change it (or update the year range) you can't do a simple file copy-paste.

Is there a special reason why this is not

[2015-10-12 13:15] GrahamCampbell commented on #555
I just thought it looked really strange. It has been commonly requested though, so go ahead. :)

[2015-10-12 13:16] GrahamCampbell commented on #555
I'll have to think about how I can remove it from the web interface though. We can't have two ways from the web interface to configure the same way.

[2015-10-22 14:58] CupOfTea696 opened #556 "Bug in Comment Header blocks"
There's a small bug with comments that have a header block when they have no indentation. It adds a dot at the end of one of the lines rather than removing an asterisk at the start. The screenshot will clarify.

![screen shot 2015-10-22 at 3 55 06 pm](https://cloud.githubusercontent.com/assets/7327050/10668745/94165bf6-78d5-11e5-9fda-e0ee42415f35.png)

[2015-10-22 17:14] #556 closed

[2015-10-22 17:14] GrahamCampbell commented on #556
Not actually a bug.

[2015-10-22 17:15] GrahamCampbell commented on #556
This looks like the correct behaviour. If you don't like it, feel free to disable those three fixers.

[2015-10-23 10:43] CupOfTea696 commented on #556
How is the correct behaviour? The first block gets a full stop at the end of the dashed line, but the second indented block gets an asterisk removed. Besides the indentation the case of those two blocks is the same, yet the behaviour of StyleCI on them is different.

When I remove the second asterisk from the first block manually, StyleCI doesn't report any errors on the block anymore.

[2015-10-23 10:44] CupOfTea696 commented on #556
Forgive me if I'm wrong here and there is an actual reason for this behaviour, but I just don't see it :p

[2015-10-23 10:44] GrahamCampbell commented on #556
That's because you've incorrectly used phpdoc. `/**` is not the same as `/*`. You want a "comment" here rather than phpdoc, so you must use `/*`.

[2015-10-23 10:44] GrahamCampbell commented on #556
They actually tokenize to different things.

[2015-10-23 10:45] GrahamCampbell commented on #556
Notice how laravel's config uses `/*` because those things are "comments", not "phpdoc". https://github.com/StyleCI/StyleCI/blob/master/config/auth.php

[2015-10-23 10:58] CupOfTea696 commented on #556
Yes, but the second block does register as a comment rather than a phpdoc, event though it too uses `/**`. In this case, StyleCI notices that I am using phpdoc syntax to open a comment and changes it to the normal comment opening, while when not indented it reads it as a phpdoc unless the correct comment opening `/*` is used.

I don't see why it behave differently in those two cases. It should eit

[2015-10-23 11:12] GrahamCampbell commented on #556
We detected the 2nd one as not being a valid place to even put phpdoc, that's why we changed it. The first case, we had to assume that you actually wanted it to be phpdoc, so we trimmed it, and ensured the short description ended in a fullstop.

[2015-10-23 11:23] CupOfTea696 commented on #556
Alright, that makes sense. Thanks for the info :)

[2015-11-03 19:18] Ma27 opened #558 "phpstorm integration"
hey there,

other CI tools such as SensioLabs Insight provide some integration for phpstorm: http://blog.insight.sensiolabs.com/2014/10/15/introducing-phpstorm-plugin.html

I really appreciate StyleCI because of its code style analysis, but it would be really great if I could see the style violations in my IDE

[2015-11-03 20:16] GrahamCampbell commented on #558
We don't plan to write a plugin any time soon. The closest thing on our eventual todo list is a cloudbased cli application for fixing code before committing.

I don't think it makes sense to have a plugin anyway since we don't "detect" problems as such, as just "fix" them, so we'd have no way to actually mark a piece of code as incorrect.

[2015-11-03 20:16] #558 closed

[2015-11-07 12:27] #522 closed

[2015-11-07 12:27] GrahamCampbell commented on #522
Could you create an issue on php-cs-fixer please, because I'm not going to have time to look at this myself, sorry.

[2015-11-08 21:06] ffsantos92 commented on #522
Ok, no problem.

The discussion continues here: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1492

[2015-11-27 00:44] GrahamCampbell opened #563 "Upgrade to Elixir 4"

[2015-11-27 09:21] joecohens commented on #563
I'll do this one, but first I want to upgrade to Vue 1.0

[2015-11-27 09:22] vinkla commented on #563
This is quite an easy upgrade, we basically just need to change the version number.

[2015-11-27 10:30] GrahamCampbell commented on #563
I'll do it now.

[2015-11-27 10:33] lucasmichot commented on #563
@GrahamCampbell , There's a bit more than just the version upgrade
https://github.com/laravel/elixir/releases/tag/4.0

Also there's an issue with browserify with some versions of Node, `0.12.7`will work OK, `4.x.x` won't
Still trying to figure out how to solve it - Let me know if you manage to deal with it

[2015-11-27 10:38] vinkla commented on #563
@lucasmichot What kind of error are you getting?

[2015-11-27 10:38] #563 closed

[2015-11-27 10:39] GrahamCampbell commented on #563
Working fine for me.

[2015-11-27 10:39] GrahamCampbell commented on #563
If it builds, then we're done, lol.

[2015-11-27 10:45] lucasmichot commented on #563
:+1: @GrahamCampbell
@vinkla it's `vueify` related

[2015-11-27 10:48] vinkla commented on #563
@lucasmichot aah okay, didn't Jeff move the `vueify` to another package?

[2015-11-27 11:19] lucasmichot commented on #563
@vinkla yep I took that into consideration
See https://gist.github.com/lucasmichot/969edc54a949e6facf91

[2015-11-27 12:13] vinkla commented on #563
@lucasmichot Have you tried installing the vueify module? Maybe that will solve it?

[2015-11-27 12:14] lucasmichot commented on #563
@vinkla see https://github.com/laracasts/Laravel-Elixir-Vueify-Setup/issues/1

[2015-11-27 14:01] jonnybarnes opened #564 "[PHP7]The null coalesce operator results in a parse error"
Specifically I get the error:
[code]

[2015-11-27 14:04] GrahamCampbell commented on #564
We do not support PHP 7 yet. It is on our roadmap though. Soon users will be able to opt-in to PHP 7 support.

[2015-11-27 14:04] #564 closed

[2015-11-28 16:16] martinssipenko opened #568 "Display line numbers in diffs"
Having line numbers in diffs in case CI fails would be really helpful.

For example here:
https://styleci.io/analyses/q5v6Pz

[2015-11-28 16:24] #568 closed

[2015-11-28 16:25] GrahamCampbell commented on #568
Sorry this feature is not planned, however, if the diff is confusing, you can just click the download button, and then use `git apply` to apply it. That's why we generate the diff in the first place rather than just adding comments as to what should happen.

[2015-11-28 16:25] GrahamCampbell commented on #568
If we do ever add line numbers, we will let you know. ;)

[2015-11-30 17:15] phecho opened #569 "A bug occured on StyleCI.io"
steps:
1.register a user on github with the name of  foo. so it's gihub page is : http://github.com/foo
2.create a project test.git on github:  http://github.com/foo/test.git
3.join styleci with the github account(foo),
3.remove account of foo from github
4.create a orgnization with the name of foo, create a project test.git,so the project's url is: http://github.com/foo/test.git
5.join the stylec

[2015-11-30 17:18] GrahamCampbell commented on #569
Right. Did you try pressing the sync with github button on the account page first?

[2015-11-30 17:18] GrahamCampbell commented on #569
That'll be a duplicate entry violation coming out of our db i presume.

[2015-12-01 00:28] phecho commented on #569
Yes, I did press the button, and more than once. This is a bug of styleci. Although this kind of scene is not very common, but I think we must solve it. Travis-ci and scrutinizer don't have this bug.

[2015-12-01 00:58] GrahamCampbell commented on #569
Sure. The issue is that you didn't remove the repo from StyleCI, so it actually still exists.

[2015-12-01 00:58] GrahamCampbell commented on #569
It's waiting for us to manually remove it. We don't automatically remove such repos incase users have accidentally revoked our access.

[2015-12-01 01:03] GrahamCampbell commented on #569
I agree this error could be more gracefully handled though. I guess it would be safe for us to remove the original too if someone's trying to enable a replacement.

[2015-12-01 01:04] GrahamCampbell commented on #569
Which repo is this can I ask please?

[2015-12-01 01:04] #569 closed

[2015-12-01 01:04] GrahamCampbell commented on #569
Infact, can you please contact me at support@alt-three.com. This issue affects our production system which isn't actually this repo.

[2015-12-01 11:33] GrahamCampbell opened #571 "Throw and exception for duplicate repos on enable"

[2015-12-01 11:48] GrahamCampbell commented on #571
Moving.

[2015-12-01 11:48] #571 closed

[2015-12-02 06:12] lucasmichot opened #572 "Provide a one-liner for applying the patch"
Providing some text with the patch name would speed up patch applying

[code]

A copy in clipboard button for each of this line could also be provided.

[2015-12-02 06:24] lucasmichot opened #573 "Provide a one-liner for applying the patch"
Providing some text with the patch name would speed up patch applying

[code]

A copy in clipboard button for each of this line could also be provided.

[2015-12-02 06:34] joecohens commented on #572
Duplicate https://github.com/StyleCI/StyleCI/issues/573

[2015-12-02 06:34] #572 closed

[2015-12-02 22:14] GrahamCampbell opened #575 "Make Alt Three Test Package"

[2015-12-03 21:12] #542 closed

[2015-12-03 21:13] GrahamCampbell commented on #542
Cancelled from OSS.

[2015-12-06 02:12] GrahamCampbell commented on #575
Done.

[2015-12-06 02:12] #575 closed

[2015-12-06 02:13] GrahamCampbell commented on #573
Actually, we've got something else planned that should bypass this. ;)

[2015-12-06 02:13] #573 closed

[2015-12-07 22:48] #496 closed

[2015-12-14 20:07] JayBizzle opened #586 "Wrong icon on button?"
This confused me for about 10 seconds. Had to click each button to see if it was really enabled/disabled (didn't know beforehand that they turned red).

I think `enable auto-sending` should have a tick, not a cross!?

![screen shot 2015-12-14 at 20 03 59](https://cloud.githubusercontent.com/assets/340752/11792485/3ccbb0b0-a29e-11e5-989c-e29ffee12622.png)

I looked at doing a pull request, but seem

[2015-12-14 20:12] GrahamCampbell commented on #586
Yeh, it is. Thanks for reporting though. I'll get this fixed right away. Since it's only a minor issue, I don't be deploying the change straight away, but it will go out into production soon. ;)

[2015-12-14 20:14] #586 closed

[2015-12-14 20:14] JayBizzle commented on #586
:+1:

[2015-12-14 20:15] GrahamCampbell commented on #586
![image](https://cloud.githubusercontent.com/assets/2829600/11792720/64e18308-a29f-11e5-828a-e5ed6ef06501.png)

[2015-12-30 12:28] GrahamCampbell opened #587 "Upgrade to laravel 5.2"

[2015-12-30 12:50] vinkla commented on #587
Is 5.3 the next LTS release?

[2015-12-30 12:52] GrahamCampbell commented on #587
No.

[2015-12-30 12:52] GrahamCampbell commented on #587
There will be no LTS release for a long time.

[2015-12-30 12:53] GrahamCampbell commented on #587
The next one will match up with symfony 3.4 LTS.

[2015-12-30 12:53] GrahamCampbell commented on #587
That'll be December 2017.

[2015-12-30 12:54] GrahamCampbell commented on #587
NB, I updated the title from 5.3 to 5.2. 5.3 was a typo, lol.

[2016-01-01 13:01] GrahamCampbell opened #589 "Add scalar typehints everywhere ex commands"
We want to be less strict on scalar types in commands so that we can check them and throw a validation exception rather than getting a TypeError on instantiation.

TODO:
* [x] Composers
* [x] Console
* [x] Events
* [x] Foundation
* [x] GitHub
* [x] Handlers
* [x] Http
* [x] Jobs
* [x] Models
* [x] Presenters
* [x] Repositories

[2016-01-03 02:52] #589 closed

[2016-01-03 02:52] GrahamCampbell commented on #589
Done.

[2016-01-04 23:51] #587 closed

[2016-01-04 23:51] #555 closed

[2016-01-04 23:51] #464 closed